workflows/sofia/sofia_reminders.json
{"updatedAt":"2026-03-16T21:36:30.321Z","createdAt":"2026-02-20T21:47:04.745Z","id":"FCSJrGj5bLMuytr7","name":"SofIA - 24h Reminders","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"name":"Cron Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"476e2003-2b1b-4365-9c91-a66ccec9074e"},{"parameters":{"jsCode":"// Fetch pending reminders from Supabase\nconst SUPABASE_URL = \"https://inhyrrjidhzrbqecnptn.supabase.co\";\nconst SERVICE_KEY = $env.N8N_SUPABASE_SERVICE_KEY;\n\nlet reminders;\ntry {\n    reminders = await this.helpers.httpRequest({\n        method: \"POST\",\n        url: SUPABASE_URL + \"/rest/v1/rpc/get_pending_reminders\",\n        headers: {\n            \"apikey\": SERVICE_KEY,\n            \"Authorization\": \"Bearer \" + SERVICE_KEY,\n            \"Content-Type\": \"application/json\"\n        },\n        body: {},\n        json: true\n    });\n} catch(e) {\n    reminders = [];\n}\n\nif (!Array.isArray(reminders) || reminders.length === 0) {\n    return [{ json: { no_reminders: true, count: 0 } }];\n}\n\n// Return each reminder as separate item for split processing\nreturn reminders.map(r => ({\n    json: {\n        appointment_id: r.appointment_id,\n        clinic_id: r.clinic_id,\n        clinic_name: r.clinic_name,\n        patient_name: r.patient_name,\n        phone: r.phone,\n        service: r.service,\n        start_time: r.start_time,\n        chatwoot_inbox_id: r.chatwoot_inbox_id\n    }\n}));"},"name":"Fetch Pending Reminders","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"864861e9-ad96-4ba0-8abf-0b15afdc9044"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"check-reminders","leftValue":"={{ $json.no_reminders }}","rightValue":true,"operator":{"type":"boolean","operation":"notTrue"}}],"combinator":"and"}},"name":"Has Reminders?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,0],"id":"05dabc58-c141-4d6a-a934-1f45b5ed9d68"},{"parameters":{"jsCode":"const t   = new Date($json.start_time);\nconst dt  = t.toLocaleDateString('es-PE', { weekday:'long', day:'numeric', month:'long', hour:'2-digit', minute:'2-digit', hour12:true });\nconst nom = $json.patient_name || 'paciente';\nconst cli = $json.clinic_name  || 'la clinica';\nconst svc = $json.service      || 'Consulta';\n\nconst msg = [\n  '*Recordatorio de Cita*',\n  '',\n  'Hola ' + nom + ',',\n  '',\n  'Le confirmamos su proxima cita:',\n  'Clinica: *' + cli + '*',\n  'Manana: *' + dt + '*',\n  'Servicio: *' + svc + '*',\n  '',\n  'Para *confirmar* su asistencia, responda *1*',\n  'Para *reprogramar*, responda *2*',\n  '',\n  '_SofIA - Asistente automatico de ' + cli + '_'\n].join('\\n');\n\nreturn [{ json: { ...$json, reminder_message: msg } }];"},"name":"Format Reminder Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,-100],"id":"9bab9bb2-6854-463b-a8bd-eda65fb7b647"},{"parameters":{"method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.chatwoot_account_id || 2 }}/conversations/{{ $json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"content\": {{ JSON.stringify($json.reminder_message) }}, \"message_type\": \"outgoing\"}"},"name":"Send WhatsApp Reminder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,-100],"id":"3f374fda-c2f7-4c6e-a5f3-d006fc2914b4"},{"parameters":{"jsCode":"// Mark reminder as sent in Supabase\nconst SUPABASE_URL = \"https://inhyrrjidhzrbqecnptn.supabase.co\";\nconst SERVICE_KEY = $env.N8N_SUPABASE_SERVICE_KEY;\n\ntry {\n    await this.helpers.httpRequest({\n        method: \"POST\",\n        url: SUPABASE_URL + \"/rest/v1/rpc/mark_reminder_sent\",\n        headers: {\n            \"apikey\": SERVICE_KEY,\n            \"Authorization\": \"Bearer \" + SERVICE_KEY,\n            \"Content-Type\": \"application/json\"\n        },\n        body: {\n            p_appointment_id: $json.appointment_id,\n            p_status: \"sent\",\n            p_error: null\n        },\n        json: true\n    });\n} catch(e) {\n    // Log error but continue\n}\n\nreturn [{ json: { ...$json, reminder_sent: true } }];"},"name":"Mark Reminder Sent","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,-100],"id":"2784cbb3-65f0-4e8e-b4e4-c7e5bc4d2966"},{"parameters":{},"name":"No Reminders","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[660,100],"id":"8ee3d698-f6df-4a45-83bc-89edc191c161"}],"connections":{"Cron Trigger":{"main":[[{"node":"Fetch Pending Reminders","type":"main","index":0}]]},"Fetch Pending Reminders":{"main":[[{"node":"Has Reminders?","type":"main","index":0}]]},"Has Reminders?":{"main":[[{"node":"Format Reminder Message","type":"main","index":0}],[{"node":"No Reminders","type":"main","index":0}]]},"Format Reminder Message":{"main":[[{"node":"Send WhatsApp Reminder","type":"main","index":0}]]},"Send WhatsApp Reminder":{"main":[[{"node":"Mark Reminder Sent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Cron Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"52619347-3cd2-4aa3-ab2d-28ca818e5b17","activeVersionId":"52619347-3cd2-4aa3-ab2d-28ca818e5b17","versionCounter":21,"triggerCount":1,"shared":[{"updatedAt":"2026-02-20T21:47:04.750Z","createdAt":"2026-02-20T21:47:04.750Z","role":"workflow:owner","workflowId":"FCSJrGj5bLMuytr7","projectId":"rHohNmSvOVaasBRv","project":{"updatedAt":"2025-12-15T18:03:51.136Z","createdAt":"2025-12-15T17:36:08.325Z","id":"rHohNmSvOVaasBRv","name":"Gabriel Barrero <gbarrero57@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d0578bf7-eabc-4d42-8b83-067e0b33b70c","projectRelations":[{"updatedAt":"2025-12-15T17:36:08.326Z","createdAt":"2025-12-15T17:36:08.326Z","userId":"d0578bf7-eabc-4d42-8b83-067e0b33b70c","projectId":"rHohNmSvOVaasBRv","user":{"updatedAt":"2026-03-21T04:47:16.000Z","createdAt":"2025-12-15T17:36:07.652Z","id":"d0578bf7-eabc-4d42-8b83-067e0b33b70c","email":"gbarrero57@gmail.com","firstName":"Gabriel","lastName":"Barrero","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-15T18:04:04.664Z","personalization_survey_n8n_version":"2.0.2","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"pcjSqYlnURtWWAMc","userActivatedAt":1769234242953,"npsSurvey":{"responded":true,"lastShownAt":1771191351359}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-21","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-16T21:36:17.302Z","createdAt":"2026-03-16T21:36:17.302Z","versionId":"52619347-3cd2-4aa3-ab2d-28ca818e5b17","workflowId":"FCSJrGj5bLMuytr7","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"name":"Cron Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"476e2003-2b1b-4365-9c91-a66ccec9074e"},{"parameters":{"jsCode":"// Fetch pending reminders from Supabase\nconst SUPABASE_URL = \"https://inhyrrjidhzrbqecnptn.supabase.co\";\nconst SERVICE_KEY = $env.N8N_SUPABASE_SERVICE_KEY;\n\nlet reminders;\ntry {\n    reminders = await this.helpers.httpRequest({\n        method: \"POST\",\n        url: SUPABASE_URL + \"/rest/v1/rpc/get_pending_reminders\",\n        headers: {\n            \"apikey\": SERVICE_KEY,\n            \"Authorization\": \"Bearer \" + SERVICE_KEY,\n            \"Content-Type\": \"application/json\"\n        },\n        body: {},\n        json: true\n    });\n} catch(e) {\n    reminders = [];\n}\n\nif (!Array.isArray(reminders) || reminders.length === 0) {\n    return [{ json: { no_reminders: true, count: 0 } }];\n}\n\n// Return each reminder as separate item for split processing\nreturn reminders.map(r => ({\n    json: {\n        appointment_id: r.appointment_id,\n        clinic_id: r.clinic_id,\n        clinic_name: r.clinic_name,\n        patient_name: r.patient_name,\n        phone: r.phone,\n        service: r.service,\n        start_time: r.start_time,\n        chatwoot_inbox_id: r.chatwoot_inbox_id\n    }\n}));"},"name":"Fetch Pending Reminders","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"864861e9-ad96-4ba0-8abf-0b15afdc9044"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"check-reminders","leftValue":"={{ $json.no_reminders }}","rightValue":true,"operator":{"type":"boolean","operation":"notTrue"}}],"combinator":"and"}},"name":"Has Reminders?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,0],"id":"05dabc58-c141-4d6a-a934-1f45b5ed9d68"},{"parameters":{"jsCode":"const t   = new Date($json.start_time);\nconst dt  = t.toLocaleDateString('es-PE', { weekday:'long', day:'numeric', month:'long', hour:'2-digit', minute:'2-digit', hour12:true });\nconst nom = $json.patient_name || 'paciente';\nconst cli = $json.clinic_name  || 'la clinica';\nconst svc = $json.service      || 'Consulta';\n\nconst msg = [\n  '*Recordatorio de Cita*',\n  '',\n  'Hola ' + nom + ',',\n  '',\n  'Le confirmamos su proxima cita:',\n  'Clinica: *' + cli + '*',\n  'Manana: *' + dt + '*',\n  'Servicio: *' + svc + '*',\n  '',\n  'Para *confirmar* su asistencia, responda *1*',\n  'Para *reprogramar*, responda *2*',\n  '',\n  '_SofIA - Asistente automatico de ' + cli + '_'\n].join('\\n');\n\nreturn [{ json: { ...$json, reminder_message: msg } }];"},"name":"Format Reminder Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,-100],"id":"9bab9bb2-6854-463b-a8bd-eda65fb7b647"},{"parameters":{"method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.chatwoot_account_id || 2 }}/conversations/{{ $json.conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"content\": {{ JSON.stringify($json.reminder_message) }}, \"message_type\": \"outgoing\"}"},"name":"Send WhatsApp Reminder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,-100],"id":"3f374fda-c2f7-4c6e-a5f3-d006fc2914b4"},{"parameters":{"jsCode":"// Mark reminder as sent in Supabase\nconst SUPABASE_URL = \"https://inhyrrjidhzrbqecnptn.supabase.co\";\nconst SERVICE_KEY = $env.N8N_SUPABASE_SERVICE_KEY;\n\ntry {\n    await this.helpers.httpRequest({\n        method: \"POST\",\n        url: SUPABASE_URL + \"/rest/v1/rpc/mark_reminder_sent\",\n        headers: {\n            \"apikey\": SERVICE_KEY,\n            \"Authorization\": \"Bearer \" + SERVICE_KEY,\n            \"Content-Type\": \"application/json\"\n        },\n        body: {\n            p_appointment_id: $json.appointment_id,\n            p_status: \"sent\",\n            p_error: null\n        },\n        json: true\n    });\n} catch(e) {\n    // Log error but continue\n}\n\nreturn [{ json: { ...$json, reminder_sent: true } }];"},"name":"Mark Reminder Sent","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,-100],"id":"2784cbb3-65f0-4e8e-b4e4-c7e5bc4d2966"},{"parameters":{},"name":"No Reminders","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[660,100],"id":"8ee3d698-f6df-4a45-83bc-89edc191c161"}],"connections":{"Cron Trigger":{"main":[[{"node":"Fetch Pending Reminders","type":"main","index":0}]]},"Fetch Pending Reminders":{"main":[[{"node":"Has Reminders?","type":"main","index":0}]]},"Has Reminders?":{"main":[[{"node":"Format Reminder Message","type":"main","index":0}],[{"node":"No Reminders","type":"main","index":0}]]},"Format Reminder Message":{"main":[[{"node":"Send WhatsApp Reminder","type":"main","index":0}]]},"Send WhatsApp Reminder":{"main":[[{"node":"Mark Reminder Sent","type":"main","index":0}]]}},"authors":"Gabriel Barrero","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-16T21:36:17.560Z","id":318,"workflowId":"FCSJrGj5bLMuytr7","versionId":"52619347-3cd2-4aa3-ab2d-28ca818e5b17","event":"activated","userId":"d0578bf7-eabc-4d42-8b83-067e0b33b70c"},{"createdAt":"2026-03-16T21:36:30.437Z","id":319,"workflowId":"FCSJrGj5bLMuytr7","versionId":"52619347-3cd2-4aa3-ab2d-28ca818e5b17","event":"activated","userId":"d0578bf7-eabc-4d42-8b83-067e0b33b70c"}]}}