exec_808.json
{"id":"808","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-09T04:54:57.208Z","startedAt":"2026-02-09T04:54:57.223Z","stoppedAt":"2026-02-09T04:54:57.523Z","deletedAt":null,"workflowId":"37SLdWISQLgkHeXk","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"<!DOCTYPE html>\n<html>\n<head>\n  <title>The page you were looking for doesn't exist (404)</title>\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <style>\n  body {\n    background-color: #EFEFEF;\n    color: #2E2F30;\n    text-align: center;\n    font-family: arial, sans-serif;\n    margin: 0;\n  }\n\n  div.dialog {\n    width: 95%;\n    max-width: 33em;\n    margin: 4em auto 0;\n  }\n\n  div.dialog > div {\n    border: 1px solid #CCC;\n    border-right-color: #999;\n    border-left-color: #999;\n    border-bottom-color: #BBB;\n    border-top: #B00100 solid 4px;\n    border-top-left-radius: 9px;\n    border-top-right-radius: 9px;\n    background-color: white;\n    padding: 7px 12% 0;\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\n  }\n\n  h1 {\n    font-size: 100%;\n    color: #730E15;\n    line-height: 1.5em;\n  }\n\n  div.dialog > p {\n    margin: 0 0 1em;\n    padding: 1em;\n    background-color: #F7F7F7;\n    border: 1px solid #CCC;\n    border-right-color: #999;\n    border-left-color: #999;\n    border-bottom-color: #999;\n    border-bottom-left-radius: 4px;\n    border-bottom-right-radius: 4px;\n    border-top-color: #DADADA;\n    color: #666;\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\n  }\n  </style>\n</head>\n\n<body>\n  <!-- This file lives in public/404.html -->\n  <div class=\"dialog\">\n    <div>\n      <h1>The page you were looking for doesn't exist.</h1>\n      <p>You may have mistyped the address or the page may have moved.</p>\n    </div>\n    <p>If you are the application owner check the logs for more information.</p>\n  </div>\n</body>\n</html>\n","timestamp":1770612897521,"context":{"itemIndex":0,"request":{"body":{"content":"","message_type":"outgoing","private":true},"headers":{"api_access_token":"yypAwZDH2dV3crfbqJqWCgj1","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"},"method":"POST","uri":"https://chat.redsolucionesti.com/api/v1/accounts//conversations/4/messages","gzip":true,"rejectUnauthorized":true,"followRedirect":true,"resolveWithFullResponse":true,"followAllRedirects":true,"timeout":300000,"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"curlImport":"","method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.internal_note }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{},"infoMessage":""},"id":"242e0a13-d75e-40ec-9ec7-7e7902ac47e8","name":"Crear Nota Interna1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,1072]},"messages":["404 - \"<!DOCTYPE html>\\n<html>\\n<head>\\n  <title>The page you were looking for doesn't exist (404)</title>\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width,initial-scale=1\\\">\\n  <style>\\n  body {\\n    background-color: #EFEFEF;\\n    color: #2E2F30;\\n    text-align: center;\\n    font-family: arial, sans-serif;\\n    margin: 0;\\n  }\\n\\n  div.dialog {\\n    width: 95%;\\n    max-width: 33em;\\n    margin: 4em auto 0;\\n  }\\n\\n  div.dialog > div {\\n    border: 1px solid #CCC;\\n    border-right-color: #999;\\n    border-left-color: #999;\\n    border-bottom-color: #BBB;\\n    border-top: #B00100 solid 4px;\\n    border-top-left-radius: 9px;\\n    border-top-right-radius: 9px;\\n    background-color: white;\\n    padding: 7px 12% 0;\\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\\n  }\\n\\n  h1 {\\n    font-size: 100%;\\n    color: #730E15;\\n    line-height: 1.5em;\\n  }\\n\\n  div.dialog > p {\\n    margin: 0 0 1em;\\n    padding: 1em;\\n    background-color: #F7F7F7;\\n    border: 1px solid #CCC;\\n    border-right-color: #999;\\n    border-left-color: #999;\\n    border-bottom-color: #999;\\n    border-bottom-left-radius: 4px;\\n    border-bottom-right-radius: 4px;\\n    border-top-color: #DADADA;\\n    color: #666;\\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\\n  }\\n  </style>\\n</head>\\n\\n<body>\\n  <!-- This file lives in public/404.html -->\\n  <div class=\\\"dialog\\\">\\n    <div>\\n      <h1>The page you were looking for doesn't exist.</h1>\\n      <p>You may have mistyped the address or the page may have moved.</p>\\n    </div>\\n    <p>If you are the application owner check the logs for more information.</p>\\n  </div>\\n</body>\\n</html>\\n\""],"httpCode":"404","message":"The resource you are requesting could not be found","stack":"NodeApiError: The resource you are requesting could not be found\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:859:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2297:11"},"runData":{"Chatwoot Webhook1":[{"startTime":1770612897229,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"workflows.n8n.redsolucionesti.com","user-agent":"curl/8.18.0","content-length":"525","accept":"*/*","content-type":"application/json","x-forwarded-for":"38.253.147.136","x-forwarded-host":"workflows.n8n.redsolucionesti.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8e1e5b096bb4","x-real-ip":"38.253.147.136","accept-encoding":"gzip"},"params":{},"query":{},"body":{"event":"message_created","message_type":"incoming","content":"Test FINAL con workflow corregido e importado","created_at":1770608011,"account":{"id":2},"sender":{"id":5,"name":"Test Final Correcto"},"conversation":{"id":4,"inbox_id":3,"status":"open","custom_attributes":{"clinic_id":"test_final_fixed","bot_interaction_count":0},"contact_inbox":{"source_id":"+51999000111","inbox":{"channel_type":"Channel::WebWidget"}}}},"webhookUrl":"https://workflows.n8n.redsolucionesti.com/webhook/chatwoot-sofia","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Validar Input1":[{"startTime":1770612897229,"executionIndex":1,"source":[{"previousNode":"Chatwoot Webhook1"}],"hints":[],"executionTime":13,"executionStatus":"success","data":{"main":[[{"json":{"message_text":"Test FINAL con workflow corregido e importado","conversation_id":4,"inbox_id":3,"inbox_id_api":2,"inbox_id_db":3,"clinic_id":"test_final_fixed","contact_phone":"+51999000111","contact_id":5,"account_id":2,"message_type":"incoming","message_timestamp":1770608011,"bot_interaction_count":0,"sender_name":"Test Final Correcto","conversation_status":"open","has_contact_inbox":true,"channel_type":"Channel::WebWidget","raw_payload":{"event":"message_created","message_type":"incoming","content":"Test FINAL con workflow corregido e importado","created_at":1770608011,"account":{"id":2},"sender":{"id":5,"name":"Test Final Correcto"},"conversation":{"id":4,"inbox_id":3,"status":"open","custom_attributes":{"clinic_id":"test_final_fixed","bot_interaction_count":0},"contact_inbox":{"source_id":"+51999000111","inbox":{"channel_type":"Channel::WebWidget"}}}}},"pairedItem":{"item":0}}]]}}],"¿Es del Usuario?1":[{"startTime":1770612897242,"executionIndex":2,"source":[{"previousNode":"Validar Input1"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"message_text":"Test FINAL con workflow corregido e importado","conversation_id":4,"inbox_id":3,"inbox_id_api":2,"inbox_id_db":3,"clinic_id":"test_final_fixed","contact_phone":"+51999000111","contact_id":5,"account_id":2,"message_type":"incoming","message_timestamp":1770608011,"bot_interaction_count":0,"sender_name":"Test Final Correcto","conversation_status":"open","has_contact_inbox":true,"channel_type":"Channel::WebWidget","raw_payload":{"event":"message_created","message_type":"incoming","content":"Test FINAL con workflow corregido e importado","created_at":1770608011,"account":{"id":2},"sender":{"id":5,"name":"Test Final Correcto"},"conversation":{"id":4,"inbox_id":3,"status":"open","custom_attributes":{"clinic_id":"test_final_fixed","bot_interaction_count":0},"contact_inbox":{"source_id":"+51999000111","inbox":{"channel_type":"Channel::WebWidget"}}}}},"pairedItem":{"item":0}}],[]]}}],"WhatsApp Safe Check1":[{"startTime":1770612897243,"executionIndex":3,"source":[{"previousNode":"¿Es del Usuario?1"}],"hints":[],"executionTime":14,"executionStatus":"success","data":{"main":[[{"json":{"message_text":"Test FINAL con workflow corregido e importado","conversation_id":4,"inbox_id":3,"inbox_id_api":2,"inbox_id_db":3,"clinic_id":"test_final_fixed","contact_phone":"+51999000111","contact_id":5,"account_id":2,"message_type":"incoming","message_timestamp":1770608011,"bot_interaction_count":0,"sender_name":"Test Final Correcto","conversation_status":"open","has_contact_inbox":true,"channel_type":"Channel::WebWidget","raw_payload":{"event":"message_created","message_type":"incoming","content":"Test FINAL con workflow corregido e importado","created_at":1770608011,"account":{"id":2},"sender":{"id":5,"name":"Test Final Correcto"},"conversation":{"id":4,"inbox_id":3,"status":"open","custom_attributes":{"clinic_id":"test_final_fixed","bot_interaction_count":0},"contact_inbox":{"source_id":"+51999000111","inbox":{"channel_type":"Channel::WebWidget"}}}},"should_escalate":true,"escalation_reason":"OUTSIDE_BUSINESS_HOURS","escalation_message":"Gracias por escribirnos. Te responderemos en horario de atención (8am - 10pm)."},"pairedItem":{"item":0}}]]}}],"¿Escalar Ahora?1":[{"startTime":1770612897257,"executionIndex":4,"source":[{"previousNode":"WhatsApp Safe Check1"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"message_text":"Test FINAL con workflow corregido e importado","conversation_id":4,"inbox_id":3,"inbox_id_api":2,"inbox_id_db":3,"clinic_id":"test_final_fixed","contact_phone":"+51999000111","contact_id":5,"account_id":2,"message_type":"incoming","message_timestamp":1770608011,"bot_interaction_count":0,"sender_name":"Test Final Correcto","conversation_status":"open","has_contact_inbox":true,"channel_type":"Channel::WebWidget","raw_payload":{"event":"message_created","message_type":"incoming","content":"Test FINAL con workflow corregido e importado","created_at":1770608011,"account":{"id":2},"sender":{"id":5,"name":"Test Final Correcto"},"conversation":{"id":4,"inbox_id":3,"status":"open","custom_attributes":{"clinic_id":"test_final_fixed","bot_interaction_count":0},"contact_inbox":{"source_id":"+51999000111","inbox":{"channel_type":"Channel::WebWidget"}}}},"should_escalate":true,"escalation_reason":"OUTSIDE_BUSINESS_HOURS","escalation_message":"Gracias por escribirnos. Te responderemos en horario de atención (8am - 10pm)."},"pairedItem":{"item":0}}],[]]}}],"Preparar Escalado1":[{"startTime":1770612897258,"executionIndex":5,"source":[{"previousNode":"¿Escalar Ahora?1"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"message_text":"Test FINAL con workflow corregido e importado","conversation_id":4,"inbox_id":3,"inbox_id_api":2,"inbox_id_db":3,"clinic_id":"test_final_fixed","contact_phone":"+51999000111","contact_id":5,"account_id":2,"message_type":"incoming","message_timestamp":1770608011,"bot_interaction_count":0,"sender_name":"Test Final Correcto","conversation_status":"open","has_contact_inbox":true,"channel_type":"Channel::WebWidget","raw_payload":{"event":"message_created","message_type":"incoming","content":"Test FINAL con workflow corregido e importado","created_at":1770608011,"account":{"id":2},"sender":{"id":5,"name":"Test Final Correcto"},"conversation":{"id":4,"inbox_id":3,"status":"open","custom_attributes":{"clinic_id":"test_final_fixed","bot_interaction_count":0},"contact_inbox":{"source_id":"+51999000111","inbox":{"channel_type":"Channel::WebWidget"}}}},"should_escalate":true,"escalation_reason":"OUTSIDE_BUSINESS_HOURS","escalation_message":"Gracias por escribirnos. Te responderemos en horario de atención (8am - 10pm).","is_urgent":false,"escalation_message_final":"Gracias por escribirnos. Te responderemos en horario de atención (8am - 10pm).","escalation_reason_final":"OUTSIDE_BUSINESS_HOURS","internal_note":"🤖 SofIA (Fase 1)\\n\\nIntención detectada:  ()\\nRazón: OUTSIDE_BUSINESS_HOURS\\nMensaje original: \\\"Test FINAL con workflow corregido e importado\\\"\\nClínica: test_final_fixed\\nPaciente: "},"pairedItem":{"item":0}}]]}}],"Enviar Mensaje Escalado1":[{"startTime":1770612897259,"executionIndex":6,"source":[{"previousNode":"Preparar Escalado1"}],"hints":[],"executionTime":221,"executionStatus":"success","data":{"main":[[{"json":{"id":13,"content":"Gracias por escribirnos. Te responderemos en horario de atención (8am - 10pm).","inbox_id":3,"conversation_id":4,"message_type":1,"content_type":"text","status":"sent","content_attributes":{},"created_at":1770612897,"private":false,"source_id":null,"sender":{"id":2,"name":"Gabriel","available_name":"Gabriel","avatar_url":"","type":"user","availability_status":"offline","thumbnail":""}},"pairedItem":{"item":0}}]]}}],"Crear Nota Interna1":[{"startTime":1770612897483,"executionIndex":7,"source":[{"previousNode":"Enviar Mensaje Escalado1"}],"hints":[],"executionTime":40,"executionStatus":"error","error":{"level":"warning","tags":{},"description":"<!DOCTYPE html>\n<html>\n<head>\n  <title>The page you were looking for doesn't exist (404)</title>\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <style>\n  body {\n    background-color: #EFEFEF;\n    color: #2E2F30;\n    text-align: center;\n    font-family: arial, sans-serif;\n    margin: 0;\n  }\n\n  div.dialog {\n    width: 95%;\n    max-width: 33em;\n    margin: 4em auto 0;\n  }\n\n  div.dialog > div {\n    border: 1px solid #CCC;\n    border-right-color: #999;\n    border-left-color: #999;\n    border-bottom-color: #BBB;\n    border-top: #B00100 solid 4px;\n    border-top-left-radius: 9px;\n    border-top-right-radius: 9px;\n    background-color: white;\n    padding: 7px 12% 0;\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\n  }\n\n  h1 {\n    font-size: 100%;\n    color: #730E15;\n    line-height: 1.5em;\n  }\n\n  div.dialog > p {\n    margin: 0 0 1em;\n    padding: 1em;\n    background-color: #F7F7F7;\n    border: 1px solid #CCC;\n    border-right-color: #999;\n    border-left-color: #999;\n    border-bottom-color: #999;\n    border-bottom-left-radius: 4px;\n    border-bottom-right-radius: 4px;\n    border-top-color: #DADADA;\n    color: #666;\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\n  }\n  </style>\n</head>\n\n<body>\n  <!-- This file lives in public/404.html -->\n  <div class=\"dialog\">\n    <div>\n      <h1>The page you were looking for doesn't exist.</h1>\n      <p>You may have mistyped the address or the page may have moved.</p>\n    </div>\n    <p>If you are the application owner check the logs for more information.</p>\n  </div>\n</body>\n</html>\n","timestamp":1770612897521,"context":{"itemIndex":0,"request":{"body":{"content":"","message_type":"outgoing","private":true},"headers":{"api_access_token":"yypAwZDH2dV3crfbqJqWCgj1","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7"},"method":"POST","uri":"https://chat.redsolucionesti.com/api/v1/accounts//conversations/4/messages","gzip":true,"rejectUnauthorized":true,"followRedirect":true,"resolveWithFullResponse":true,"followAllRedirects":true,"timeout":300000,"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"curlImport":"","method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.internal_note }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{},"infoMessage":""},"id":"242e0a13-d75e-40ec-9ec7-7e7902ac47e8","name":"Crear Nota Interna1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,1072]},"messages":["404 - \"<!DOCTYPE html>\\n<html>\\n<head>\\n  <title>The page you were looking for doesn't exist (404)</title>\\n  <meta name=\\\"viewport\\\" content=\\\"width=device-width,initial-scale=1\\\">\\n  <style>\\n  body {\\n    background-color: #EFEFEF;\\n    color: #2E2F30;\\n    text-align: center;\\n    font-family: arial, sans-serif;\\n    margin: 0;\\n  }\\n\\n  div.dialog {\\n    width: 95%;\\n    max-width: 33em;\\n    margin: 4em auto 0;\\n  }\\n\\n  div.dialog > div {\\n    border: 1px solid #CCC;\\n    border-right-color: #999;\\n    border-left-color: #999;\\n    border-bottom-color: #BBB;\\n    border-top: #B00100 solid 4px;\\n    border-top-left-radius: 9px;\\n    border-top-right-radius: 9px;\\n    background-color: white;\\n    padding: 7px 12% 0;\\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\\n  }\\n\\n  h1 {\\n    font-size: 100%;\\n    color: #730E15;\\n    line-height: 1.5em;\\n  }\\n\\n  div.dialog > p {\\n    margin: 0 0 1em;\\n    padding: 1em;\\n    background-color: #F7F7F7;\\n    border: 1px solid #CCC;\\n    border-right-color: #999;\\n    border-left-color: #999;\\n    border-bottom-color: #999;\\n    border-bottom-left-radius: 4px;\\n    border-bottom-right-radius: 4px;\\n    border-top-color: #DADADA;\\n    color: #666;\\n    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);\\n  }\\n  </style>\\n</head>\\n\\n<body>\\n  <!-- This file lives in public/404.html -->\\n  <div class=\\\"dialog\\\">\\n    <div>\\n      <h1>The page you were looking for doesn't exist.</h1>\\n      <p>You may have mistyped the address or the page may have moved.</p>\\n    </div>\\n    <p>If you are the application owner check the logs for more information.</p>\\n  </div>\\n</body>\\n</html>\\n\""],"httpCode":"404","message":"The resource you are requesting could not be found","stack":"NodeApiError: The resource you are requesting could not be found\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:859:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1045:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1226:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1662:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_ec37920eb95917b28efaa783206b20f3/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2297:11"}}]},"lastNodeExecuted":"Crear Nota Interna1"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"curlImport":"","method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.internal_note }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{},"infoMessage":""},"id":"242e0a13-d75e-40ec-9ec7-7e7902ac47e8","name":"Crear Nota Interna1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,1072]},"data":{"main":[[{"json":{"id":13,"content":"Gracias por escribirnos. Te responderemos en horario de atención (8am - 10pm).","inbox_id":3,"conversation_id":4,"message_type":1,"content_type":"text","status":"sent","content_attributes":{},"created_at":1770612897,"private":false,"source_id":null,"sender":{"id":2,"name":"Gabriel","available_name":"Gabriel","avatar_url":"","type":"user","availability_status":"offline","thumbnail":""}},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Enviar Mensaje Escalado1"}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1770612897228,"source":"webhook","triggerNode":{"name":"Chatwoot Webhook1","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"37SLdWISQLgkHeXk","name":"Sofia","active":true,"activeVersionId":"ec9a95b9-8638-434f-a91a-2492efd7b74f","isArchived":false,"createdAt":"2026-01-21T18:48:10.157Z","updatedAt":"2026-02-09T04:54:11.168Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"chatwoot-sofia","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"id":"8b7cd1f0-e2ee-42cc-83ff-4b6f45437707","name":"Chatwoot Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-736,1264],"webhookId":"chatwoot-sofia"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// ============================================\n// VALIDAR INPUT + DETECTAR CONTACTO NUEVO\n// ============================================\nconst payload = $input.item.json.body || $input.item.json;\n\n// Campos del evento\nconst event = payload.event;\nconst content = payload.content;\nconst conversation_id = payload.conversation?.id;\nconst inbox_id = payload.conversation?.inbox_id;\nconst clinic_id = payload.conversation?.custom_attributes?.clinic_id;\nconst patient_id = payload.conversation?.custom_attributes?.patient_id;\nconst contact_phone = payload.conversation?.contact_inbox?.source_id;\nconst contact_id = payload.sender?.id;\nconst channel_type = payload.conversation?.contact_inbox?.inbox?.channel_type;\nconst account_id = payload.account?.id || 2;\nconst message_type = payload.message_type;\nconst created_at = payload.created_at;\n\n// ---- Validar evento ----\nif (!event || !content) {\n  throw new Error(`Missing event or content`);\n}\n\n// ---- Ignorar eventos que no son mensajes ----\nif (event !== 'message_created') {\n  throw new Error(`Ignored event: ${event}`);\n}\n\n// ---- Ignorar mensajes de tipo outgoing (evitar loops) ----\nif (message_type !== 'incoming') {\n  throw new Error(`Ignored: not incoming message (type: ${message_type})`);\n}\n\n// ---- Detectar si es contacto nuevo sin contact_inbox ----\nconst contact_inboxes = payload.conversation?.contact_inbox;\nconst has_contact_inbox = !!contact_inboxes;\n\n// Obtener contador de interacciones bot\nconst bot_count = payload.conversation?.custom_attributes?.bot_interaction_count || 0;\nconst last_bot_message = payload.conversation?.custom_attributes?.last_bot_message_at;\n\nreturn [{\n  json: {\n    message_text: (content || '').trim(),\n    conversation_id: conversation_id,\n    inbox_id: inbox_id,\n    inbox_id_api: 2,\n    inbox_id_db: 3,\n    clinic_id: clinic_id || 'default',\n    patient_id: patient_id,\n    contact_phone: contact_phone,\n    contact_id: contact_id,\n    account_id: account_id,\n    message_type: message_type,\n    message_timestamp: created_at,\n    bot_interaction_count: bot_count,\n    last_bot_message_at: last_bot_message,\n    sender_name: payload.sender?.name || 'Paciente',\n    sender_email: payload.sender?.email,\n    conversation_status: payload.conversation?.status,\n    has_contact_inbox: has_contact_inbox,\n    channel_type: channel_type || 'Channel::WebWidget',\n    raw_payload: payload\n  }\n}];","notice":""},"id":"df9e3ffb-6f30-4bc7-8aeb-b49c36a2c391","name":"Validar Input1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,1264]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message_type }}","operation":"equal","value2":"incoming"}]},"combineOperation":"all"},"id":"3cdf8362-59d7-49a9-b94f-4a955b2b6cb9","name":"¿Es del Usuario?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[-336,1264]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// ============================================\n// WHATSAPP SAFE RULES - FASE 1\n// ============================================\nconst bot_count = $json.bot_interaction_count || 0;\nconst message_lower = ($json.message_text || '').toLowerCase();\n\n// Regla 1: Máximo 1 interacción automática en Fase 1\nif (bot_count >= 1) {\n  return [{\n    json: {\n      ...$json,\n      should_escalate: true,\n      escalation_reason: 'MAX_INTERACTIONS_PHASE1',\n      escalation_message: 'Te conecto con un agente de inmediato.'\n    }\n  }];\n}\n\n// Regla 2: Mensaje > 24h\nconst message_age_hours = (Date.now() - ($json.message_timestamp * 1000)) / (1000 * 60 * 60);\nif (message_age_hours > 24) {\n  return [{\n    json: {\n      ...$json,\n      should_escalate: true,\n      escalation_reason: 'MESSAGE_TOO_OLD',\n      escalation_message: 'Te conecto con un agente.'\n    }\n  }];\n}\n\n// Regla 3: Horario comercial (Lima, Peru)\nconst now = new Date();\nconst lima_hour = parseInt(now.toLocaleString('en-US', { \n  timeZone: 'America/Lima', \n  hour: 'numeric', \n  hour12: false \n}));\n\nif (lima_hour < 8 || lima_hour >= 22) {\n  return [{\n    json: {\n      ...$json,\n      should_escalate: true,\n      escalation_reason: 'OUTSIDE_BUSINESS_HOURS',\n      escalation_message: 'Gracias por escribirnos. Te responderemos en horario de atención (8am - 10pm).'\n    }\n  }];\n}\n\n// Regla 4: Emergencias\nconst emergency_keywords = [\n  'emergencia', 'urgencia', 'dolor fuerte', 'sangra', 'mucho dolor',\n  'me caí', 'golpe', 'accidente', 'no puedo', 'ayuda urgente',\n  'hinchazón', 'infección', 'fiebre'\n];\nconst is_emergency = emergency_keywords.some(kw => message_lower.includes(kw));\n\nif (is_emergency) {\n  return [{\n    json: {\n      ...$json,\n      should_escalate: true,\n      escalation_reason: 'EMERGENCY_DETECTED',\n      escalation_message: 'Detecto que podrías tener una urgencia. Te conecto de inmediato con nuestro equipo.',\n      priority: 'urgent'\n    }\n  }];\n}\n\n// Regla 5: Opt-out\nconst opt_out_keywords = ['detente', 'ya no', 'basta', 'stop', 'cancelar bot', 'agente', 'humano', 'persona'];\nconst wants_opt_out = opt_out_keywords.some(kw => message_lower.includes(kw));\n\nif (wants_opt_out) {\n  return [{\n    json: {\n      ...$json,\n      should_escalate: true,\n      escalation_reason: 'USER_OPT_OUT',\n      escalation_message: 'Entendido. Te conecto con un agente humano.'\n    }\n  }];\n}\n\n// Todo OK - continuar al clasificador\nreturn [{\n  json: {\n    ...$json,\n    should_escalate: false,\n    whatsapp_safe: true,\n    checked_at: new Date().toISOString()\n  }\n}];","notice":""},"id":"9555abae-bb52-4416-9999-9353cab32687","name":"WhatsApp Safe Check1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,1168]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.should_escalate }}","operation":"equal","value2":true}]},"combineOperation":"all"},"id":"ee69d2ea-0eef-4770-8d64-ff47feb0c7af","name":"¿Escalar Ahora?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[64,1168]},{"parameters":{"aiAgentStarterCallout":"","agent":"toolsAgent","promptType":"define","text":"={{ $json.message_text }}","hasOutputParser":true,"notice":"","options":{"systemMessage":"You are an intent classifier for a dental clinic virtual assistant named SofIA.\nYour ONLY job is to analyze the patient's message and classify it into ONE category.\n\nYou MUST respond with valid JSON in this exact format:\n{\n  \"intent\": \"CREATE_EVENT\" | \"INFO\" | \"PAYMENT\" | \"HUMAN\",\n  \"confidence\": \"high\" | \"medium\" | \"low\"\n}\n\nCLASSIFICATION RULES:\n\n1. CREATE_EVENT\n   Use when: Patient wants to schedule, reschedule, cancel, or ask about appointment availability\n   Keywords: \"cita\", \"agendar\", \"reservar\", \"cambiar\", \"cancelar\", \"disponibilidad\", \"horario\"\n   Examples: \"Quiero una cita\", \"Tienen disponibilidad mañana?\"\n   \n2. INFO\n   Use when: Patient asks about services, prices, location, general information\n   Keywords: \"cuanto cuesta\", \"donde están\", \"dirección\", \"servicios\"\n   Examples: \"Cuánto cuesta una limpieza?\", \"Dónde están ubicados?\"\n   \n3. PAYMENT\n   Use when: Patient mentions pending payments or asks how to pay\n   Keywords: \"pagué\", \"pago\", \"transferencia\", \"saldo\", \"debo\"\n   Examples: \"Ya pagué mi consulta\", \"Cómo puedo pagar?\"\n   \n4. HUMAN\n   Use when: Medical emergencies, complaints, complex requests\n   Keywords: \"emergencia\", \"urgencia\", \"dolor fuerte\", \"queja\", \"seguro médico\"\n   Examples: \"Tengo un dolor terrible\", \"Necesito factura\"\n\nCRITICAL RULES:\n- If message mentions \"emergencia\", \"urgencia\", or \"dolor fuerte\" → ALWAYS return HUMAN with high confidence\n- If ambiguous between CREATE_EVENT and another → choose CREATE_EVENT\n- If greeting without clear intent → return INFO with low confidence\n- If you cannot understand → return HUMAN with low confidence\n- ALWAYS respond with valid JSON, nothing else"},"credentials":""},"id":"c59d2146-da69-418f-8b59-fcf718a85866","name":"Clasificador de Intención1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[256,1072]},{"parameters":{"notice":"","model":"gpt-4-turbo-preview","options":{"maxTokens":50,"temperature":0.1}},"id":"dd864953-454b-4093-8b98-9933a5ee6cbc","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[256,1264],"credentials":{"openAiApi":{"id":"SeCPLJI4mV6p2hJR","name":"OpenAi account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// ============================================\n// NORMALIZAR OUTPUT DEL CLASIFICADOR\n// ============================================\nlet intent_data = $json.output || $json;\n\nif (typeof intent_data === 'string') {\n  try {\n    intent_data = JSON.parse(intent_data);\n  } catch (e) {\n    const text = intent_data.toLowerCase();\n    if (text.includes('create_event')) {\n      intent_data = { intent: 'CREATE_EVENT', confidence: 'low' };\n    } else if (text.includes('info')) {\n      intent_data = { intent: 'INFO', confidence: 'low' };\n    } else if (text.includes('payment')) {\n      intent_data = { intent: 'PAYMENT', confidence: 'low' };\n    } else {\n      intent_data = { intent: 'HUMAN', confidence: 'low' };\n    }\n  }\n}\n\nlet intent = (intent_data.intent || 'HUMAN').trim().toUpperCase();\nlet confidence = (intent_data.confidence || 'low').toLowerCase();\n\nconst valid_intents = ['CREATE_EVENT', 'INFO', 'PAYMENT', 'HUMAN'];\nif (!valid_intents.includes(intent)) {\n  intent = 'HUMAN';\n  confidence = 'low';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    intent: intent,\n    confidence: confidence,\n    classified_at: new Date().toISOString(),\n    phase: 'PHASE_1_TESTING',\n    action: 'ESCALATE_TO_HUMAN'\n  }\n}];","notice":""},"id":"42a0f1e2-1c4a-4881-8c63-0a41e0cd627f","name":"Normalizar Intent1","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,1072]},{"parameters":{"mode":"rules","dataType":"number","value1":0,"rules":{"rules":[{"operation":"smaller","value2":0,"output":0},{"operation":"smaller","value2":0,"output":1},{"operation":"smaller","value2":0,"output":2},{"operation":"smaller","value2":0,"output":3}]},"fallbackOutput":3},"id":"76537e54-f604-439b-ad31-01ea9ffe9a7f","name":"Router de Intención1","type":"n8n-nodes-base.switch","typeVersion":1,"position":[656,1072]},{"parameters":{"keepOnlySet":false,"values":{"string":[{"name":"escalation_message_final","value":"={{ $json.escalation_message || 'Te conecto con un agente de nuestro equipo.' }}"},{"name":"escalation_reason_final","value":"={{ $json.escalation_reason || 'PHASE_1_' + $json.intent }}"},{"name":"internal_note","value":"=🤖 SofIA (Fase 1)\\n\\nIntención detectada: {{ $json.intent }} ({{ $json.confidence }})\\nRazón: {{ $json.escalation_reason || 'Testing Fase 1' }}\\nMensaje original: \\\"{{ $json.message_text }}\\\"\\nClínica: {{ $json.clinic_id }}\\nPaciente: {{ $json.patient_id }}"}],"boolean":[{"name":"is_urgent","value":"={{ $json.priority === 'urgent' ? true : false }}"}]},"options":{}},"id":"3500ca67-b461-46e4-a6a0-fe436629bf45","name":"Preparar Escalado1","type":"n8n-nodes-base.set","typeVersion":1,"position":[864,1072]},{"parameters":{"curlImport":"","method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.escalation_message_final }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{},"infoMessage":""},"id":"90129da3-d78a-4434-a9ad-69e8549bd46f","name":"Enviar Mensaje Escalado1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1056,1072]},{"parameters":{"curlImport":"","method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.internal_note }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{},"infoMessage":""},"id":"242e0a13-d75e-40ec-9ec7-7e7902ac47e8","name":"Crear Nota Interna1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,1072]},{"parameters":{"curlImport":"","method":"PATCH","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/custom_attributes","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"bot_handled\": true,\n    \"intent_detected\": \"{{ $json.intent }}\",\n    \"confidence\": \"{{ $json.confidence }}\",\n    \"bot_interaction_count\": {{ ($json.bot_interaction_count || 0) + 1 }},\n    \"last_bot_message_at\": \"{{ $now.toISO() }}\",\n    \"escalation_reason\": \"{{ $json.escalation_reason_final }}\",\n    \"sofia_phase\": \"PHASE_1\"\n  }\n}","options":{},"infoMessage":""},"id":"3ead72d7-cc5d-4b6c-ba9a-92c930d8aa0b","name":"Actualizar Custom Attributes1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,1072]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ JSON.stringify({ status: 'ok', processed: true, intent: $json.intent, conversation_id: $json.conversation_id }) }}","options":{"responseCode":200}},"id":"5037f255-a3cb-4780-a30d-b05790fc066a","name":"Responder OK1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1664,1264]}],"connections":{"Chatwoot Webhook1":{"main":[[{"node":"Validar Input1","type":"main","index":0}]]},"Validar Input1":{"main":[[{"node":"¿Es del Usuario?1","type":"main","index":0}]]},"¿Es del Usuario?1":{"main":[[{"node":"WhatsApp Safe Check1","type":"main","index":0}],[{"node":"Responder OK1","type":"main","index":0}]]},"WhatsApp Safe Check1":{"main":[[{"node":"¿Escalar Ahora?1","type":"main","index":0}]]},"¿Escalar Ahora?1":{"main":[[{"node":"Preparar Escalado1","type":"main","index":0}],[{"node":"Clasificador de Intención1","type":"main","index":0}]]},"Clasificador de Intención1":{"main":[[{"node":"Normalizar Intent1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Clasificador de Intención1","type":"ai_languageModel","index":0}]]},"Normalizar Intent1":{"main":[[{"node":"Router de Intención1","type":"main","index":0}]]},"Router de Intención1":{"main":[[{"node":"Preparar Escalado1","type":"main","index":0}],[{"node":"Preparar Escalado1","type":"main","index":0}],[{"node":"Preparar Escalado1","type":"main","index":0}],[{"node":"Preparar Escalado1","type":"main","index":0}]]},"Preparar Escalado1":{"main":[[{"node":"Enviar Mensaje Escalado1","type":"main","index":0}]]},"Enviar Mensaje Escalado1":{"main":[[{"node":"Crear Nota Interna1","type":"main","index":0}]]},"Crear Nota Interna1":{"main":[[{"node":"Actualizar Custom Attributes1","type":"main","index":0}]]},"Actualizar Custom Attributes1":{"main":[[{"node":"Responder OK1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":{}},"customData":{}}