exec_941_full.json
{"id":"941","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-10T04:29:17.628Z","startedAt":"2026-02-10T04:29:17.638Z","stoppedAt":"2026-02-10T04:29:17.653Z","deletedAt":null,"workflowId":"37SLdWISQLgkHeXk","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"runData":{"Chatwoot Webhook":[{"startTime":1770697757642,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"workflows.n8n.redsolucionesti.com","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"2607","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"172.19.0.1","x-forwarded-host":"workflows.n8n.redsolucionesti.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"8e1e5b096bb4","x-real-ip":"172.19.0.1"},"params":{},"query":{},"body":{"account":{"id":2,"name":"Barrero"},"additional_attributes":{},"content_attributes":{},"content_type":"text","content":"Una limpieza dental cuesta entre S/ 80 y S/ 150. ¿En qué más puedo ayudarte?","conversation":{"additional_attributes":{"mail_subject":"undefined"},"can_reply":true,"channel":"Channel::WebWidget","contact_inbox":{"id":3,"contact_id":3,"inbox_id":3,"source_id":"410d48aa-f230-4da6-a823-568828722785","created_at":"2026-02-08T23:04:01.829Z","updated_at":"2026-02-08T23:04:01.829Z","hmac_verified":false,"pubsub_token":"Q8fS49CDnttHtfv2X5w1aDYC"},"id":3,"inbox_id":3,"messages":[{"id":33,"content":"Una limpieza dental cuesta entre S/ 80 y S/ 150. ¿En qué más puedo ayudarte?","account_id":2,"inbox_id":3,"conversation_id":3,"message_type":1,"created_at":1770697757,"updated_at":"2026-02-10T04:29:17.164Z","private":false,"status":"sent","source_id":null,"content_type":"text","content_attributes":{},"sender_type":"User","sender_id":2,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Una limpieza dental cuesta entre S/ 80 y S/ 150. ¿En qué más puedo ayudarte?","sentiment":{},"conversation":{"assignee_id":2,"unread_count":0,"last_activity_at":1770697757,"contact_inbox":{"source_id":"410d48aa-f230-4da6-a823-568828722785"}},"sender":{"id":2,"name":"Gabriel","available_name":"Gabriel","avatar_url":"","type":"user","availability_status":"offline","thumbnail":""}}],"labels":[],"meta":{"sender":{"additional_attributes":{"city":"lima","country":"Peru","description":"","company_name":"","country_code":"PE","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"custom_attributes":{},"email":"gbarreropremiun@gmail.com","id":3,"identifier":null,"name":"alejo  castillo","phone_number":"+51905858566","thumbnail":"","blocked":false,"type":"contact"},"assignee":{"id":2,"name":"Gabriel","available_name":"Gabriel","avatar_url":"","type":"user","availability_status":"offline","thumbnail":""},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":0,"first_reply_created_at":"2026-02-08T23:05:56.673Z","priority":null,"waiting_since":0,"agent_last_seen_at":1770692537,"contact_last_seen_at":0,"last_activity_at":1770697757,"timestamp":1770697757,"created_at":1770591956,"updated_at":1770697757.1687942},"created_at":"2026-02-10T04:29:17.164Z","id":33,"inbox":{"id":3,"name":"SofIA Dent - Test"},"message_type":"outgoing","private":false,"sender":{"id":2,"name":"Gabriel","email":"gbarrero57@gmail.com","type":"user"},"source_id":null,"event":"message_created"},"webhookUrl":"https://workflows.n8n.redsolucionesti.com/webhook/chatwoot-sofia","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Validar Input":[{"startTime":1770697757643,"executionIndex":1,"source":[{"previousNode":"Chatwoot Webhook"}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"message_text":"Una limpieza dental cuesta entre S/ 80 y S/ 150. ¿En qué más puedo ayudarte?","conversation_id":3,"inbox_id":3,"account_id":2,"message_type":"outgoing","bot_interaction_count":0,"sender_name":"Gabriel"},"pairedItem":{"item":0}}]]}}],"IsUserMessage":[{"startTime":1770697757651,"executionIndex":2,"source":[{"previousNode":"Validar Input"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"message_text":"Una limpieza dental cuesta entre S/ 80 y S/ 150. ¿En qué más puedo ayudarte?","conversation_id":3,"inbox_id":3,"account_id":2,"message_type":"outgoing","bot_interaction_count":0,"sender_name":"Gabriel"},"pairedItem":{"item":0}}]]}}],"Responder OK":[{"startTime":1770697757652,"executionIndex":3,"source":[{"previousNode":"IsUserMessage","previousNodeOutput":1}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"message_text":"Una limpieza dental cuesta entre S/ 80 y S/ 150. ¿En qué más puedo ayudarte?","conversation_id":3,"inbox_id":3,"account_id":2,"message_type":"outgoing","bot_interaction_count":0,"sender_name":"Gabriel"},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Responder OK"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1770697757642,"source":"webhook","triggerNode":{"name":"Chatwoot Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"37SLdWISQLgkHeXk","name":"Sofia","active":true,"activeVersionId":"eb780be9-e9ad-4a18-8c6e-dc02489a38d4","isArchived":false,"createdAt":"2026-01-21T18:48:10.157Z","updatedAt":"2026-02-10T04:29:12.549Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"chatwoot-sofia","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"id":"webhook-chatwoot","name":"Chatwoot Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,288],"webhookId":"chatwoot-sofia"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const payload = $input.item.json.body || $input.item.json;\nreturn [{\n  json: {\n    message_text: (payload.content || '').trim(),\n    conversation_id: payload.conversation?.id,\n    inbox_id: payload.conversation?.inbox_id,\n    account_id: payload.account?.id || 2,\n    message_type: payload.message_type,\n    bot_interaction_count: payload.conversation?.custom_attributes?.bot_interaction_count || 0,\n    sender_name: payload.sender?.name || 'Paciente'\n  }\n}];","notice":""},"id":"code-validate","name":"Validar Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,288]},{"parameters":{"conditions":{"options":{},"combinator":"and","conditions":[{"id":"1","leftValue":"={{ $json.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}}]},"options":{}},"id":"if-is-user-message","name":"IsUserMessage","type":"n8n-nodes-base.if","typeVersion":2,"position":[656,288]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const KNOWLEDGE_BASE = {\n  \"services\": [\n    {\"name\": \"Limpieza dental\", \"price\": \"S/ 80-150\", \"duration\": \"30-45 min\"},\n    {\"name\": \"Blanqueamiento\", \"price\": \"S/ 300-500\", \"duration\": \"60 min\"},\n    {\"name\": \"Consulta general\", \"price\": \"S/ 50-80\", \"duration\": \"30 min\"},\n    {\"name\": \"Ortodoncia\", \"price\": \"S/ 2,500-5,000\", \"duration\": \"12-24 meses\"},\n    {\"name\": \"Extracción simple\", \"price\": \"S/ 100-200\", \"duration\": \"30 min\"},\n    {\"name\": \"Endodoncia\", \"price\": \"S/ 300-600\", \"duration\": \"60-90 min\"},\n    {\"name\": \"Implante dental\", \"price\": \"S/ 2,000-3,500\", \"duration\": \"3-6 meses\"},\n    {\"name\": \"Carillas\", \"price\": \"S/ 400-800 por pieza\", \"duration\": \"2-3 citas\"}\n  ],\n  \"hours\": \"Lun-Vie 9am-7pm, Sáb 9am-2pm\",\n  \"phone\": \"+51 905 858 566\",\n  \"location\": \"Av. Principal 123, San Isidro, Lima\"\n};\n\nreturn [{\n  json: {\n    ...$json,\n    knowledge_base_json: JSON.stringify(KNOWLEDGE_BASE, null, 2)\n  }\n}];","notice":""},"id":"code-knowledge-base","name":"Knowledge Base","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,160]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const kb = $json.knowledge_base_json;\nconst question = $json.message_text;\n\nconst system_prompt = `Eres SofIA, asistente de Clínica Dental SofIA Dent.\nResponde usando SOLO esta información:\\n${kb}\\n\\nREGLAS:\\n1. Respuestas cortas (máx 3 oraciones)\\n2. Si no tienes la info, di: \\\"No tengo esa información. Te conecto con un agente.\\\"\\n3. Siempre termina preguntando: \\\"¿En qué más puedo ayudarte?\\\"\\n4. Sé amable y profesional`;\n\nreturn [{\n  json: {\n    ...$json,\n    system_prompt: system_prompt,\n    user_prompt: question\n  }\n}];","notice":""},"id":"code-prepare-prompt","name":"Preparar Prompt INFO","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,160]},{"parameters":{"curlImport":"","method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }}},\n    {\"role\": \"user\", \"content\": {{ JSON.stringify($json.user_prompt) }}}\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 300\n}","options":{},"infoMessage":""},"id":"http-call-openai","name":"Llamar OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1328,160],"credentials":{"openAiApi":{"id":"SeCPLJI4mV6p2hJR","name":"OpenAi account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const response = $json;\nconst llm_response = response.choices?.[0]?.message?.content || '';\nconst original_data = $node[\"Preparar Prompt INFO\"].json;\n\nreturn [{\n  json: {\n    ...original_data,\n    llm_response: llm_response.trim()\n  }\n}];","notice":""},"id":"code-extract-response","name":"Extraer Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,160]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const llm_response = $json.llm_response || '';\nconst no_info_keywords = ['no tengo esa información', 'no tengo información', 'te conecto con un agente'];\n\nlet should_escalate = false;\nif (llm_response.length > 500 || llm_response.length < 10) {\n  should_escalate = true;\n}\n\nfor (const keyword of no_info_keywords) {\n  if (llm_response.toLowerCase().includes(keyword)) {\n    should_escalate = true;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    validation_passed: !should_escalate\n  }\n}];","notice":""},"id":"code-validate-response","name":"Validar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,160]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.validation_passed }}","value2":true}]},"options":{}},"id":"if-valid-response","name":"¿Válida?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,160]},{"parameters":{"curlImport":"","method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($json.llm_response) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{},"infoMessage":""},"id":"http-send-info-response","name":"Enviar Respuesta INFO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,80]},{"parameters":{"curlImport":"","method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"content\": \"[Fase 2] Pregunta: {{ $json.user_prompt }}\\nRespuesta enviada OK\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}","options":{},"infoMessage":""},"id":"http-create-note-info","name":"Nota Interna","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,80]},{"parameters":{"curlImport":"","method":"PATCH","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"custom_attributes\": {\n    \"sofia_phase\": \"PHASE_2_INFO\",\n    \"bot_interaction_count\": {{ ($json.bot_interaction_count || 0) + 1 }},\n    \"last_bot_message_at\": \"{{ $now.toISO() }}\"\n  }\n}","options":{},"infoMessage":""},"id":"http-update-attributes-info","name":"Update Attributes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2672,80]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    ...$json,\n    escalation_message: 'Te conecto con un agente para ayudarte mejor.'\n  }\n}];","notice":""},"id":"code-prepare-escalate","name":"Preparar Escalado","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,240]},{"parameters":{"curlImport":"","method":"POST","url":"=https://chat.redsolucionesti.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"api_access_token","value":"yypAwZDH2dV3crfbqJqWCgj1"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"content\": {{ JSON.stringify($json.escalation_message) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}","options":{},"infoMessage":""},"id":"http-send-escalate","name":"Enviar Escalado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,240]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={ \"status\": \"ok\", \"phase\": \"2\", \"workflow\": \"sofia\" }","options":{"responseCode":200}},"id":"respond-webhook","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2896,160]}],"connections":{"Chatwoot Webhook":{"main":[[{"node":"Validar Input","type":"main","index":0}]]},"Validar Input":{"main":[[{"node":"IsUserMessage","type":"main","index":0}]]},"IsUserMessage":{"main":[[{"node":"Knowledge Base","type":"main","index":0}],[{"node":"Responder OK","type":"main","index":0}]]},"Knowledge Base":{"main":[[{"node":"Preparar Prompt INFO","type":"main","index":0}]]},"Preparar Prompt INFO":{"main":[[{"node":"Llamar OpenAI","type":"main","index":0}]]},"Llamar OpenAI":{"main":[[{"node":"Extraer Respuesta","type":"main","index":0}]]},"Extraer Respuesta":{"main":[[{"node":"Validar Respuesta","type":"main","index":0}]]},"Validar Respuesta":{"main":[[{"node":"¿Válida?","type":"main","index":0}]]},"¿Válida?":{"main":[[{"node":"Enviar Respuesta INFO","type":"main","index":0}],[{"node":"Preparar Escalado","type":"main","index":0}]]},"Enviar Respuesta INFO":{"main":[[{"node":"Nota Interna","type":"main","index":0}]]},"Nota Interna":{"main":[[{"node":"Update Attributes","type":"main","index":0}]]},"Update Attributes":{"main":[[{"node":"Responder OK","type":"main","index":0}]]},"Preparar Escalado":{"main":[[{"node":"Enviar Escalado","type":"main","index":0}]]},"Enviar Escalado":{"main":[[{"node":"Responder OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":{}},"customData":{}}