workflows/libreria/w4_entrega.json
{"updatedAt":"2026-02-24T20:23:38.986Z","createdAt":"2026-02-24T20:23:38.986Z","id":"f4ulTAbkVVYUp1UR","name":"Libreria - W4: Entrega","description":null,"active":true,"isArchived":false,"nodes":[{"id":"w4-webhook","name":"Webhook Entrega","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"webhookId":"libreria-entrega","parameters":{"httpMethod":"POST","path":"libreria/entrega","responseMode":"responseNode","options":{}}},{"id":"w4-normalizar","name":"Normalizar Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nreturn [{\n  json: {\n    cotizacion_id: (body.cotizacion_id || '').trim(),\n    decision:      (body.decision || '').trim().toLowerCase(),\n    nombre:        (body.nombre || '').trim(),\n    telefono:      (body.telefono || '').trim()\n  }\n}];"}},{"id":"w4-validar","name":"Validar Campos","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300],"parameters":{"jsCode":"const d = $input.first().json;\nif (!d.cotizacion_id)\n  return [{ json: { ...d, valido: false, error_code: 400, error_msg: 'cotizacion_id es requerido' } }];\nif (!['recoger', 'envio'].includes(d.decision))\n  return [{ json: { ...d, valido: false, error_code: 422, error_msg: 'decision debe ser recoger o envio. Recibido: ' + d.decision } }];\nreturn [{ json: { ...d, valido: true } }];"}},{"id":"w4-campos-validos","name":"Campos Validos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[860,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.valido }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"w4-buscar-cot","name":"Buscar Cotizacion","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1080,200],"credentials":{"googleSheetsOAuth2Api":{"id":"1sLqxhvg1iGQC2iq","name":"Google Sheets account"}},"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1pRj04cwa62LbyUI0tqg3iuy_e8yT4Z4J9Dry9bG1Q_M","mode":"id"},"sheetName":{"__rl":true,"value":"cotizaciones","mode":"name"},"filters":{"conditions":[{"keyName":"cotizacion_id","condition":"eq","keyValue":"={{ $('Validar Campos').first().json.cotizacion_id }}"}]},"options":{"returnFirstMatch":true}}},{"id":"w4-validar-cot","name":"Validar Estado Cotizacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,200],"parameters":{"jsCode":"const d = $('Validar Campos').first().json;\nconst rows = $input.all();\nif (!rows || rows.length === 0 || !rows[0].json.cotizacion_id) {\n  return [{ json: { ...d, valido_cot: false, error_code: 404, error_msg: 'Cotizacion no encontrada: ' + d.cotizacion_id } }];\n}\nconst cot = rows[0].json;\nconst estadosValidos = ['elegido_marca', 'elegido_economico', 'pendiente_entrega', 'pendiente_pago'];\nif (!estadosValidos.includes(cot.estado)) {\n  return [{ json: { ...d, valido_cot: false, error_code: 409, error_msg: 'Estado invalido para entrega: ' + cot.estado, estado_actual: cot.estado } }];\n}\nreturn [{ json: {\n  cotizacion_id: d.cotizacion_id,\n  decision: d.decision,\n  nombre: d.nombre || cot.nombre || '',\n  telefono: d.telefono || cot.telefono || '',\n  colegio: cot.colegio || '',\n  grado: cot.grado || '',\n  total_marca: cot.total_marca,\n  total_economico: cot.total_economico,\n  estado_anterior: cot.estado,\n  nuevo_estado: d.decision === 'recoger' ? 'pendiente_retiro' : 'pendiente_envio',\n  valido_cot: true\n} }];"}},{"id":"w4-cot-valida","name":"Cotizacion Valida?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1520,200],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.valido_cot }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"w4-actualizar-estado","name":"Actualizar Estado","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1740,120],"credentials":{"googleSheetsOAuth2Api":{"id":"1sLqxhvg1iGQC2iq","name":"Google Sheets account"}},"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1pRj04cwa62LbyUI0tqg3iuy_e8yT4Z4J9Dry9bG1Q_M","mode":"id"},"sheetName":{"__rl":true,"value":"cotizaciones","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"cotizacion_id":"={{ $json.cotizacion_id }}","estado":"={{ $json.nuevo_estado }}"},"matchingColumns":["cotizacion_id"],"schema":[]},"options":{}}},{"id":"w4-preparar-resp","name":"Preparar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1960,120],"parameters":{"jsCode":"const d = $('Validar Estado Cotizacion').first().json;\nconst esEnvio = d.decision === 'envio';\n\n// Mensaje para ADMIN (Telegram)\nconst emoji = esEnvio ? '🚚' : '🏪';\nconst accion = esEnvio ? 'solicito ENVIO a domicilio' : 'recogeré en TIENDA';\nconst msg_admin = [\n  emoji + ' *Decisión de Entrega*',\n  '━━━━━━━━━━━━━━━━━━━',\n  '🆔 `' + d.cotizacion_id + '`',\n  '📅 ' + new Date().toLocaleString('es-PE', { timeZone: 'America/Lima' }),\n  '━━━━━━━━━━━━━━━━━━━',\n  '👤 ' + (d.nombre || 'N/A'),\n  '📞 ' + (d.telefono || 'N/A'),\n  '🏫 ' + (d.colegio || 'N/A') + ' — ' + (d.grado || 'N/A'),\n  '━━━━━━━━━━━━━━━━━━━',\n  emoji + ' Cliente ' + accion,\n  '📊 Estado: *' + d.nuevo_estado.toUpperCase() + '*'\n].join('\\n');\n\n// Respuesta al cliente\nlet mensaje_cliente;\nif (esEnvio) {\n  mensaje_cliente = 'Perfecto. Un asesor se contactará contigo para coordinar el envío a domicilio. ¡Gracias por tu preferencia!';\n} else {\n  mensaje_cliente = 'Perfecto. Puedes pasar a recoger tus útiles a nuestra tienda. ¡Te esperamos!';\n}\n\nconst webhook_response = {\n  exito: true,\n  cotizacion_id: d.cotizacion_id,\n  decision: d.decision,\n  estado: d.nuevo_estado,\n  mensaje: mensaje_cliente\n};\n\nreturn [{ json: { msg_admin, webhook_response } }];"}},{"id":"w4-telegram-admin","name":"Telegram ADMIN","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2180,120],"credentials":{"telegramApi":{"id":"cSaxAEvIePNLpINc","name":"Telegram account"}},"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ADMIN }}","text":"={{ $('Preparar Respuesta').first().json.msg_admin }}","additionalFields":{"parse_mode":"Markdown"},"operation":"sendMessage"}},{"id":"w4-respuesta-ok","name":"Respuesta Exitosa","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2400,120],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($('Preparar Respuesta').first().json.webhook_response) }}","options":{"responseCode":200}}},{"id":"w4-error-input","name":"Error Input","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1080,440],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: true, codigo: $json.error_code, mensaje: $json.error_msg }) }}","options":{"responseCode":"={{ $json.error_code }}"}}},{"id":"w4-error-negocio","name":"Error Negocio","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1740,320],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: true, codigo: $json.error_code, mensaje: $json.error_msg, estado_actual: $json.estado_actual || null }) }}","options":{"responseCode":"={{ $json.error_code }}"}}}],"connections":{"Webhook Entrega":{"main":[[{"node":"Normalizar Input","type":"main","index":0}]]},"Normalizar Input":{"main":[[{"node":"Validar Campos","type":"main","index":0}]]},"Validar Campos":{"main":[[{"node":"Campos Validos?","type":"main","index":0}]]},"Campos Validos?":{"main":[[{"node":"Buscar Cotizacion","type":"main","index":0}],[{"node":"Error Input","type":"main","index":0}]]},"Buscar Cotizacion":{"main":[[{"node":"Validar Estado Cotizacion","type":"main","index":0}]]},"Validar Estado Cotizacion":{"main":[[{"node":"Cotizacion Valida?","type":"main","index":0}]]},"Cotizacion Valida?":{"main":[[{"node":"Actualizar Estado","type":"main","index":0}],[{"node":"Error Negocio","type":"main","index":0}]]},"Actualizar Estado":{"main":[[{"node":"Preparar Respuesta","type":"main","index":0}]]},"Preparar Respuesta":{"main":[[{"node":"Telegram ADMIN","type":"main","index":0}]]},"Telegram ADMIN":{"main":[[{"node":"Respuesta Exitosa","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f20f3cc6-2386-4164-935b-723f5c70c626","activeVersionId":"f20f3cc6-2386-4164-935b-723f5c70c626","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-02-24T20:23:38.989Z","createdAt":"2026-02-24T20:23:38.989Z","role":"workflow:owner","workflowId":"f4ulTAbkVVYUp1UR","projectId":"rHohNmSvOVaasBRv","project":{"updatedAt":"2025-12-15T18:03:51.136Z","createdAt":"2025-12-15T17:36:08.325Z","id":"rHohNmSvOVaasBRv","name":"Gabriel Barrero <gbarrero57@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d0578bf7-eabc-4d42-8b83-067e0b33b70c","projectRelations":[{"updatedAt":"2025-12-15T17:36:08.326Z","createdAt":"2025-12-15T17:36:08.326Z","userId":"d0578bf7-eabc-4d42-8b83-067e0b33b70c","projectId":"rHohNmSvOVaasBRv","user":{"updatedAt":"2026-02-24T19:48:18.000Z","createdAt":"2025-12-15T17:36:07.652Z","id":"d0578bf7-eabc-4d42-8b83-067e0b33b70c","email":"gbarrero57@gmail.com","firstName":"Gabriel","lastName":"Barrero","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-15T18:04:04.664Z","personalization_survey_n8n_version":"2.0.2","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"pcjSqYlnURtWWAMc","userActivatedAt":1769234242953,"npsSurvey":{"responded":true,"lastShownAt":1771191351359}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-24","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T20:23:38.998Z","createdAt":"2026-02-24T20:23:38.998Z","versionId":"f20f3cc6-2386-4164-935b-723f5c70c626","workflowId":"f4ulTAbkVVYUp1UR","nodes":[{"id":"w4-webhook","name":"Webhook Entrega","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,300],"webhookId":"libreria-entrega","parameters":{"httpMethod":"POST","path":"libreria/entrega","responseMode":"responseNode","options":{}}},{"id":"w4-normalizar","name":"Normalizar Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,300],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nreturn [{\n  json: {\n    cotizacion_id: (body.cotizacion_id || '').trim(),\n    decision:      (body.decision || '').trim().toLowerCase(),\n    nombre:        (body.nombre || '').trim(),\n    telefono:      (body.telefono || '').trim()\n  }\n}];"}},{"id":"w4-validar","name":"Validar Campos","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,300],"parameters":{"jsCode":"const d = $input.first().json;\nif (!d.cotizacion_id)\n  return [{ json: { ...d, valido: false, error_code: 400, error_msg: 'cotizacion_id es requerido' } }];\nif (!['recoger', 'envio'].includes(d.decision))\n  return [{ json: { ...d, valido: false, error_code: 422, error_msg: 'decision debe ser recoger o envio. Recibido: ' + d.decision } }];\nreturn [{ json: { ...d, valido: true } }];"}},{"id":"w4-campos-validos","name":"Campos Validos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[860,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.valido }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"w4-buscar-cot","name":"Buscar Cotizacion","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1080,200],"credentials":{"googleSheetsOAuth2Api":{"id":"1sLqxhvg1iGQC2iq","name":"Google Sheets account"}},"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1pRj04cwa62LbyUI0tqg3iuy_e8yT4Z4J9Dry9bG1Q_M","mode":"id"},"sheetName":{"__rl":true,"value":"cotizaciones","mode":"name"},"filters":{"conditions":[{"keyName":"cotizacion_id","condition":"eq","keyValue":"={{ $('Validar Campos').first().json.cotizacion_id }}"}]},"options":{"returnFirstMatch":true}}},{"id":"w4-validar-cot","name":"Validar Estado Cotizacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,200],"parameters":{"jsCode":"const d = $('Validar Campos').first().json;\nconst rows = $input.all();\nif (!rows || rows.length === 0 || !rows[0].json.cotizacion_id) {\n  return [{ json: { ...d, valido_cot: false, error_code: 404, error_msg: 'Cotizacion no encontrada: ' + d.cotizacion_id } }];\n}\nconst cot = rows[0].json;\nconst estadosValidos = ['elegido_marca', 'elegido_economico', 'pendiente_entrega', 'pendiente_pago'];\nif (!estadosValidos.includes(cot.estado)) {\n  return [{ json: { ...d, valido_cot: false, error_code: 409, error_msg: 'Estado invalido para entrega: ' + cot.estado, estado_actual: cot.estado } }];\n}\nreturn [{ json: {\n  cotizacion_id: d.cotizacion_id,\n  decision: d.decision,\n  nombre: d.nombre || cot.nombre || '',\n  telefono: d.telefono || cot.telefono || '',\n  colegio: cot.colegio || '',\n  grado: cot.grado || '',\n  total_marca: cot.total_marca,\n  total_economico: cot.total_economico,\n  estado_anterior: cot.estado,\n  nuevo_estado: d.decision === 'recoger' ? 'pendiente_retiro' : 'pendiente_envio',\n  valido_cot: true\n} }];"}},{"id":"w4-cot-valida","name":"Cotizacion Valida?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1520,200],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.valido_cot }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"w4-actualizar-estado","name":"Actualizar Estado","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1740,120],"credentials":{"googleSheetsOAuth2Api":{"id":"1sLqxhvg1iGQC2iq","name":"Google Sheets account"}},"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1pRj04cwa62LbyUI0tqg3iuy_e8yT4Z4J9Dry9bG1Q_M","mode":"id"},"sheetName":{"__rl":true,"value":"cotizaciones","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"cotizacion_id":"={{ $json.cotizacion_id }}","estado":"={{ $json.nuevo_estado }}"},"matchingColumns":["cotizacion_id"],"schema":[]},"options":{}}},{"id":"w4-preparar-resp","name":"Preparar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1960,120],"parameters":{"jsCode":"const d = $('Validar Estado Cotizacion').first().json;\nconst esEnvio = d.decision === 'envio';\n\n// Mensaje para ADMIN (Telegram)\nconst emoji = esEnvio ? '🚚' : '🏪';\nconst accion = esEnvio ? 'solicito ENVIO a domicilio' : 'recogeré en TIENDA';\nconst msg_admin = [\n  emoji + ' *Decisión de Entrega*',\n  '━━━━━━━━━━━━━━━━━━━',\n  '🆔 `' + d.cotizacion_id + '`',\n  '📅 ' + new Date().toLocaleString('es-PE', { timeZone: 'America/Lima' }),\n  '━━━━━━━━━━━━━━━━━━━',\n  '👤 ' + (d.nombre || 'N/A'),\n  '📞 ' + (d.telefono || 'N/A'),\n  '🏫 ' + (d.colegio || 'N/A') + ' — ' + (d.grado || 'N/A'),\n  '━━━━━━━━━━━━━━━━━━━',\n  emoji + ' Cliente ' + accion,\n  '📊 Estado: *' + d.nuevo_estado.toUpperCase() + '*'\n].join('\\n');\n\n// Respuesta al cliente\nlet mensaje_cliente;\nif (esEnvio) {\n  mensaje_cliente = 'Perfecto. Un asesor se contactará contigo para coordinar el envío a domicilio. ¡Gracias por tu preferencia!';\n} else {\n  mensaje_cliente = 'Perfecto. Puedes pasar a recoger tus útiles a nuestra tienda. ¡Te esperamos!';\n}\n\nconst webhook_response = {\n  exito: true,\n  cotizacion_id: d.cotizacion_id,\n  decision: d.decision,\n  estado: d.nuevo_estado,\n  mensaje: mensaje_cliente\n};\n\nreturn [{ json: { msg_admin, webhook_response } }];"}},{"id":"w4-telegram-admin","name":"Telegram ADMIN","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[2180,120],"credentials":{"telegramApi":{"id":"cSaxAEvIePNLpINc","name":"Telegram account"}},"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ADMIN }}","text":"={{ $('Preparar Respuesta').first().json.msg_admin }}","additionalFields":{"parse_mode":"Markdown"},"operation":"sendMessage"}},{"id":"w4-respuesta-ok","name":"Respuesta Exitosa","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2400,120],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($('Preparar Respuesta').first().json.webhook_response) }}","options":{"responseCode":200}}},{"id":"w4-error-input","name":"Error Input","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1080,440],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: true, codigo: $json.error_code, mensaje: $json.error_msg }) }}","options":{"responseCode":"={{ $json.error_code }}"}}},{"id":"w4-error-negocio","name":"Error Negocio","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1740,320],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: true, codigo: $json.error_code, mensaje: $json.error_msg, estado_actual: $json.estado_actual || null }) }}","options":{"responseCode":"={{ $json.error_code }}"}}}],"connections":{"Webhook Entrega":{"main":[[{"node":"Normalizar Input","type":"main","index":0}]]},"Normalizar Input":{"main":[[{"node":"Validar Campos","type":"main","index":0}]]},"Validar Campos":{"main":[[{"node":"Campos Validos?","type":"main","index":0}]]},"Campos Validos?":{"main":[[{"node":"Buscar Cotizacion","type":"main","index":0}],[{"node":"Error Input","type":"main","index":0}]]},"Buscar Cotizacion":{"main":[[{"node":"Validar Estado Cotizacion","type":"main","index":0}]]},"Validar Estado Cotizacion":{"main":[[{"node":"Cotizacion Valida?","type":"main","index":0}]]},"Cotizacion Valida?":{"main":[[{"node":"Actualizar Estado","type":"main","index":0}],[{"node":"Error Negocio","type":"main","index":0}]]},"Actualizar Estado":{"main":[[{"node":"Preparar Respuesta","type":"main","index":0}]]},"Preparar Respuesta":{"main":[[{"node":"Telegram ADMIN","type":"main","index":0}]]},"Telegram ADMIN":{"main":[[{"node":"Respuesta Exitosa","type":"main","index":0}]]}},"authors":"Gabriel Barrero","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-24T20:23:43.823Z","id":186,"workflowId":"f4ulTAbkVVYUp1UR","versionId":"f20f3cc6-2386-4164-935b-723f5c70c626","event":"activated","userId":"d0578bf7-eabc-4d42-8b83-067e0b33b70c"}]}}