workflows/ai-news/avatar_pipeline.json
{"name":"AI NEWS AVATAR PIPELINE","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,4],"triggerAtHour":9}]}},"id":"c1a00001-0000-0000-0000-000000000001","name":"CRON - 2x Semana","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,464]},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{}},"id":"c1a00001-0000-0000-0000-000000000002","name":"RSS - TechCrunch AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[464,288]},{"parameters":{"url":"https://feeds.feedburner.com/venturebeat/SZYF","options":{}},"id":"c1a00001-0000-0000-0000-000000000003","name":"RSS - VentureBeat","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[464,464]},{"parameters":{},"id":"c1a00001-0000-0000-0000-000000000004","name":"Merge 1 - TC+VB","type":"n8n-nodes-base.merge","typeVersion":3,"position":[688,368]},{"parameters":{"url":"https://www.theverge.com/rss/ai-artificial-intelligence/index.xml","options":{}},"id":"c1a00001-0000-0000-0000-000000000005","name":"RSS - The Verge AI","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[464,640]},{"parameters":{},"id":"c1a00001-0000-0000-0000-000000000006","name":"Merge 2 - Todos","type":"n8n-nodes-base.merge","typeVersion":3,"position":[912,464]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst items = $input.all();\nconst now = Date.now();\nconst cutoff = now - 24 * 60 * 60 * 1000;\n\nconst filtered = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  const raw = item.json;\n  const dateStr = raw.pubDate || raw.isoDate || raw.date || raw.published || '';\n  const pubDate = dateStr ? new Date(dateStr).getTime() : 0;\n  if (pubDate < cutoff) continue;\n  const title = (raw.title || '').trim();\n  if (!title) continue;\n  const hash = crypto.createHash('md5').update(title.toLowerCase()).digest('hex');\n  if (seen.has(hash)) continue;\n  seen.add(hash);\n  filtered.push({ json: {\n    titulo: title,\n    url: raw.link || raw.guid || raw.id || '',\n    descripcion: (raw.contentSnippet || raw.summary || raw.description || '').substring(0, 500),\n    pubDate: new Date(pubDate).toISOString(),\n    fuente: raw.feedTitle || 'RSS Feed',\n    hash_titulo: hash\n  }});\n}\n\nfiltered.sort((a, b) => new Date(b.json.pubDate) - new Date(a.json.pubDate));\nreturn filtered.slice(0, 10);"},"id":"c1a00001-0000-0000-0000-000000000007","name":"Filtrar 24h + Hash","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,464]},{"parameters":{"operation":"list","base":{"__rl":true,"value":"AIRTABLE_BASE_ID","mode":"id"},"table":{"__rl":true,"value":"AIRTABLE_TABLE_ID","mode":"id"}},"id":"c1a00001-0000-0000-0000-000000000008","name":"Airtable - Hashes Recientes","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1344,464],"credentials":{"airtableTokenApi":{"id":"YmCX94YiEOb7UtNi","name":"Airtable Personal Access Token account"}},"continueOnFail":true},{"parameters":{"jsCode":"const articles = $('Filtrar 24h + Hash').all();\nconst existing = $input.all();\n\nconst existingHashes = new Set();\nfor (const rec of existing) {\n  const h = rec.json.fields?.hash_titulo || rec.json.hash_titulo || '';\n  if (h) existingHashes.add(h);\n}\n\nconst newArticles = articles.filter(art => !existingHashes.has(art.json.hash_titulo));\n\nif (newArticles.length === 0) {\n  return [{ json: { continuar: false, mensaje: 'Sin noticias nuevas', count: 0 } }];\n}\n\nreturn newArticles.map(art => ({ json: { ...art.json, continuar: true } }));"},"id":"c1a00001-0000-0000-0000-000000000009","name":"Eliminar Duplicados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,464]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-continuar-01","leftValue":"={{ $json.continuar }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c1a00001-0000-0000-0000-000000000010","name":"Hay Noticias Nuevas","type":"n8n-nodes-base.if","typeVersion":2,"position":[1792,464]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst lista = items.map((item, i) => {\n  return (i+1) + '. TITULO: ' + item.json.titulo + '\\n   URL: ' + item.json.url + '\\n   DESCRIPCION: ' + item.json.descripcion + '\\n   FECHA: ' + item.json.pubDate;\n}).join('\\n\\n');\n\nconst articulos = items.map(i => ({\n  titulo: i.json.titulo,\n  url: i.json.url,\n  descripcion: i.json.descripcion,\n  pubDate: i.json.pubDate,\n  hash_titulo: i.json.hash_titulo\n}));\n\nreturn [{ json: { noticias_formateadas: lista, cantidad: items.length, articulos_json: JSON.stringify(articulos) } }];"},"id":"c1a00001-0000-0000-0000-000000000011","name":"Agregar Noticias","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,384]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openRouterApi","sendBody":true,"specifyBody":"json","jsonBody":"={\"model\":\"anthropic/claude-3.7-sonnet\",\"response_format\":{\"type\":\"json_object\"},\"messages\":[{\"role\":\"system\",\"content\":\"Eres un editor experto en contenido viral de IA para Instagram Reels y TikTok latinoamericano. Seleccionas la noticia mas impactante. Respondes SOLO con JSON valido, sin texto adicional, sin markdown.\"},{\"role\":\"user\",\"content\":\"Tengo {{ $json.cantidad }} noticias recientes de IA:\\n\\n{{ $json.noticias_formateadas }}\\n\\nSelecciona la noticia MAS viral e impactante para audiencia latinoamericana.\\n\\nCriterios: impacto cotidiano, novedad, potencial debate, accesible para no-tecnicos.\\n\\nResponde EXACTAMENTE en este JSON:\\n{\\n  \\\"titulo\\\": \\\"titulo exacto de la noticia\\\",\\n  \\\"url\\\": \\\"url exacta\\\",\\n  \\\"hash_titulo\\\": \\\"hash md5 del titulo\\\",\\n  \\\"score_relevancia\\\": 8,\\n  \\\"razon\\\": \\\"por que es la mas viral para redes sociales\\\"\\n}\"}]}","options":{}},"id":"c1a00001-0000-0000-0000-000000000012","name":"OpenRouter - Selector","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,384],"credentials":{"openRouterApi":{"id":"b7soo1kwTt0Tq0xf","name":"OpenRouter account"}}},{"parameters":{"jsCode":"const raw = $input.first();\nconst content = raw.json.choices?.[0]?.message?.content || '{}';\n\nlet selected;\ntry {\n  selected = JSON.parse(content);\n} catch(e) {\n  const match = content.match(/{[\\s\\S]*}/);\n  selected = match ? JSON.parse(match[0]) : {};\n}\n\nconst articulos = JSON.parse($('Agregar Noticias').first().json.articulos_json || '[]');\nconst matched = articulos.find(a => a.hash_titulo === selected.hash_titulo || a.titulo === selected.titulo) || {};\n\nconst score = parseFloat(selected.score_relevancia || 0);\n\nreturn [{ json: {\n  titulo: selected.titulo || matched.titulo || '',\n  url: selected.url || matched.url || '',\n  descripcion: matched.descripcion || '',\n  pubDate: matched.pubDate || '',\n  hash_titulo: selected.hash_titulo || matched.hash_titulo || '',\n  score_relevancia: score,\n  razon_seleccion: selected.razon || '',\n  continuar: score >= 7\n}}];"},"id":"c1a00001-0000-0000-0000-000000000013","name":"Parsear Seleccion","type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,384]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-score-01","leftValue":"={{ $json.score_relevancia }}","rightValue":7,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"c1a00001-0000-0000-0000-000000000014","name":"Score suficiente (>= 7)","type":"n8n-nodes-base.if","typeVersion":2,"position":[2672,384]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openRouterApi","sendBody":true,"specifyBody":"json","jsonBody":"=JSON.stringify({\"model\":\"anthropic/claude-3.7-sonnet\",\"response_format\":{\"type\":\"json_object\"},\"messages\":[{\"role\":\"system\",\"content\":\"Eres un guionista experto en videos virales de IA para Instagram Reels y TikTok latinoamericano. Generas guiones de 45-60 segundos. Estilo directo y energetico. Respondes SOLO con JSON valido.\"},{\"role\":\"user\",\"content\":\"Genera un guion viral para este video de IA:\\n\\nTITULO: \" + $json.titulo + \"\\nDESCRIPCION: \" + $json.descripcion + \"\\nPOR QUE ES VIRAL: \" + $json.razon_seleccion + \"\\n\\nEstructura (45-60 seg):\\nHOOK (3-5s): frase que engancha\\nEXPLICACION (15-20s): que paso en lenguaje simple\\nIMPACTO (15-20s): como cambia la vida real\\nCIERRE (5-10s): llamada a la accion\\n\\nJSON exacto:\\n{\\\"titulo\\\":\\\"...\\\" ,\\\"hook\\\":\\\"...\\\",\\\"explicacion\\\":\\\"...\\\",\\\"impacto\\\":\\\"...\\\",\\\"cierre\\\":\\\"...\\\",\\\"guion_completo\\\":\\\"texto continuo\\\",\\\"hashtags\\\":[\\\"#IA\\\"]}\"}]})","options":{}},"id":"c1a00001-0000-0000-0000-000000000015","name":"OpenRouter - Script Writer","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,288],"credentials":{"openRouterApi":{"id":"b7soo1kwTt0Tq0xf","name":"OpenRouter account"}}},{"parameters":{"jsCode":"const raw = $input.first();\nconst content = raw.json.choices?.[0]?.message?.content || '{}';\n\nlet guion;\ntry {\n  guion = JSON.parse(content);\n} catch(e) {\n  const match = content.match(/{[\\s\\S]*}/);\n  guion = match ? JSON.parse(match[0]) : {};\n}\n\n// Recover article data from FASE 2\nconst article = $('Parsear Seleccion').first().json;\n\nconst completo = guion.guion_completo ||\n  [guion.hook, guion.explicacion, guion.impacto, guion.cierre].filter(Boolean).join(' ');\n\nreturn [{ json: {\n  titulo_video: guion.titulo || article.titulo || '',\n  url_noticia: article.url || '',\n  hash_titulo: article.hash_titulo || '',\n  score_relevancia: article.score_relevancia || 0,\n  pubDate: article.pubDate || '',\n  hook: guion.hook || '',\n  explicacion: guion.explicacion || '',\n  impacto: guion.impacto || '',\n  cierre: guion.cierre || '',\n  guion_completo: completo,\n  hashtags: (guion.hashtags || ['#IA', '#InteligenciaArtificial', '#Tecnologia']).join(' ')\n}}];"},"id":"c1a00001-0000-0000-0000-000000000016","name":"Parsear Guion","type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,288]},{"parameters":{"method":"POST","url":"https://api.wavespeed.ai/api/v3/elevenlabs/multilingual-v2","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"=JSON.stringify({\n  \"text\": $json.guion_completo,\n  \"voice_id\": \"ErXwobaYiN019PkySvjV\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75,\n    \"style\": 0.0,\n    \"use_speaker_boost\": true\n  }\n})","options":{}},"id":"c1a00001-0000-0000-0000-000000000017","name":"Crear Voz - Wavespeed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3328,288],"credentials":{"httpBearerAuth":{"id":"hq4pzATQBWyT2fqE","name":"Bearer Auth account"}}},{"parameters":{"amount":30},"id":"c1a00001-0000-0000-0000-000000000018","name":"Wait - Voz","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3552,288],"webhookId":"2b20043e-d8af-433d-b2ea-f0e97c5d5ccc"},{"parameters":{"url":"={{ $('Crear Voz - Wavespeed').item.json.data.urls.get }}","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","options":{}},"id":"c1a00001-0000-0000-0000-000000000019","name":"Check Estado Voz","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3760,288],"credentials":{"httpBearerAuth":{"id":"hq4pzATQBWyT2fqE","name":"Bearer Auth account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-voice-done","leftValue":"={{ $json.data.status }}","rightValue":"SUCCEEDED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Listo"}]},"options":{}},"id":"c1a00001-0000-0000-0000-000000000020","name":"Switch - Voz Lista","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3984,288]},{"parameters":{"method":"POST","url":"https://api.d-id.com/talks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic YOUR_DID_API_KEY_BASE64"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=JSON.stringify({\n  \"source_url\": \"https://drive.google.com/uc?export=download&id=1ci5_YGI2ea6BEFzXUQjCynnt3BhRC1mA\",\n  \"script\": {\n    \"type\": \"audio\",\n    \"audio_url\": $('Check Estado Voz').first().json.data.url\n  },\n  \"config\": {\n    \"fluent\": true,\n    \"pad_audio\": 0.0\n  }\n})","options":{}},"id":"c1a00001-0000-0000-0000-000000000021","name":"Crear Avatar - D-ID","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4224,288],"credentials":{"httpHeaderAuth":{"id":"X9AP6PpdHcOlNhHD","name":"D-ID API"}}},{"parameters":{"amount":60},"id":"c1a00001-0000-0000-0000-000000000022","name":"Wait - Avatar","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4448,288],"webhookId":"12c39381-a517-4460-a1ed-07cea501c07c"},{"parameters":{"url":"={{ 'https://api.d-id.com/talks/' + $('Crear Avatar - D-ID').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Basic YOUR_DID_API_KEY_BASE64"}]},"options":{}},"id":"c1a00001-0000-0000-0000-000000000023","name":"Check Estado Avatar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4672,288]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-avatar-done","leftValue":"={{ $json.status }}","rightValue":"done","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Listo"}]},"options":{}},"id":"c1a00001-0000-0000-0000-000000000024","name":"Switch - Avatar Listo","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4880,288]},{"parameters":{"jsCode":"const guion = $('Parsear Guion').first().json;\nconst voiceResp = $('Check Estado Voz').first().json;\nconst avatarResp = $input.first().json;\n\nconst audio_url = voiceResp.data?.url || '';\nconst video_url = avatarResp.result_url || '';\nconst now = new Date().toISOString().split('T')[0];\n\nreturn [{ json: {\n  titulo_video: guion.titulo_video || '',\n  url_noticia: guion.url_noticia || '',\n  hash_titulo: guion.hash_titulo || '',\n  score_relevancia: guion.score_relevancia || 0,\n  guion: guion.guion_completo || '',\n  hashtags: guion.hashtags || '',\n  audio_url: audio_url,\n  video_url: video_url,\n  fecha: now,\n  status: video_url ? 'done' : 'error',\n  // For Google Drive upload\n  video_filename: 'AI_News_' + now + '_' + (guion.hash_titulo || 'video').substring(0,8) + '.mp4'\n}}];"},"id":"c1a00001-0000-0000-0000-000000000025","name":"Preparar Exportacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[5104,288]},{"parameters":{"url":"={{ $json.video_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"c1a00001-0000-0000-0000-000000000026","name":"Descargar Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5328,288]},{"parameters":{"operation":"upload","name":"={{ $('Preparar Exportacion').first().json.video_filename }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com"},"folderId":{"__rl":true,"value":"1LkBanO4kcckQb6BS9HitFjXhWzIvYvrN","mode":"id"},"inputDataFieldName":"data","options":{}},"id":"c1a00001-0000-0000-0000-000000000027","name":"Subir a Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[5552,288],"credentials":{"googleDriveOAuth2Api":{"id":"nPpYOWjAgfbH9FkI","name":"Google Drive account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app6a4u9dvXMxwOnY","mode":"id"},"table":{"__rl":true,"value":"tblBuVcKITk5GFoqk","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"titulo":"={{ $('Preparar Exportacion').first().json.titulo_video }}","hash_titulo":"={{ $('Preparar Exportacion').first().json.hash_titulo }}","fecha":"={{ $('Preparar Exportacion').first().json.fecha }}","fuente_url":"={{ $('Preparar Exportacion').first().json.url_noticia }}","score_relevancia":"={{ $('Preparar Exportacion').first().json.score_relevancia }}","guion":"={{ $('Preparar Exportacion').first().json.guion }}","audio_url":"={{ $('Preparar Exportacion').first().json.audio_url }}","video_url":"={{ $json.webViewLink || $('Preparar Exportacion').first().json.video_url }}","status":"done"}},"options":{}},"id":"c1a00001-0000-0000-0000-000000000028","name":"Log Airtable - Registro Final","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[5760,288],"credentials":{"airtableTokenApi":{"id":"YmCX94YiEOb7UtNi","name":"Airtable Personal Access Token account"}}},{"parameters":{},"id":"c1a00001-0000-0000-0000-000000000029","name":"Error Handler","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[5760,528]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app6a4u9dvXMxwOnY","mode":"id"},"table":{"__rl":true,"value":"tblBuVcKITk5GFoqk","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"titulo":"={{ $json.execution?.workflowData?.name || 'AI NEWS PIPELINE ERROR' }}","hash_titulo":"error_1772842127161","fecha":"={{ new Date().toISOString().split('T')[0] }}","status":"error","guion":"={{ $json.error?.message || JSON.stringify($json) }}"}},"options":{}},"id":"c1a00001-0000-0000-0000-000000000030","name":"Log Error Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[5984,528],"credentials":{"airtableTokenApi":{"id":"YmCX94YiEOb7UtNi","name":"Airtable Personal Access Token account"}}}],"connections":{"CRON - 2x Semana":{"main":[[{"node":"RSS - TechCrunch AI","type":"main","index":0},{"node":"RSS - VentureBeat","type":"main","index":0},{"node":"RSS - The Verge AI","type":"main","index":0}]]},"RSS - TechCrunch AI":{"main":[[{"node":"Merge 1 - TC+VB","type":"main","index":0}]]},"RSS - VentureBeat":{"main":[[{"node":"Merge 1 - TC+VB","type":"main","index":1}]]},"Merge 1 - TC+VB":{"main":[[{"node":"Merge 2 - Todos","type":"main","index":0}]]},"RSS - The Verge AI":{"main":[[{"node":"Merge 2 - Todos","type":"main","index":1}]]},"Merge 2 - Todos":{"main":[[{"node":"Filtrar 24h + Hash","type":"main","index":0}]]},"Filtrar 24h + Hash":{"main":[[{"node":"Airtable - Hashes Recientes","type":"main","index":0}]]},"Airtable - Hashes Recientes":{"main":[[{"node":"Eliminar Duplicados","type":"main","index":0}]]},"Eliminar Duplicados":{"main":[[{"node":"Hay Noticias Nuevas","type":"main","index":0}]]},"Hay Noticias Nuevas":{"main":[[{"node":"Agregar Noticias","type":"main","index":0}],[]]},"Agregar Noticias":{"main":[[{"node":"OpenRouter - Selector","type":"main","index":0}]]},"OpenRouter - Selector":{"main":[[{"node":"Parsear Seleccion","type":"main","index":0}]]},"Parsear Seleccion":{"main":[[{"node":"Score suficiente (>= 7)","type":"main","index":0}]]},"Score suficiente (>= 7)":{"main":[[{"node":"OpenRouter - Script Writer","type":"main","index":0}],[]]},"OpenRouter - Script Writer":{"main":[[{"node":"Parsear Guion","type":"main","index":0}]]},"Parsear Guion":{"main":[[{"node":"Crear Voz - Wavespeed","type":"main","index":0}]]},"Crear Voz - Wavespeed":{"main":[[{"node":"Wait - Voz","type":"main","index":0}]]},"Wait - Voz":{"main":[[{"node":"Check Estado Voz","type":"main","index":0}]]},"Check Estado Voz":{"main":[[{"node":"Switch - Voz Lista","type":"main","index":0}]]},"Switch - Voz Lista":{"main":[[{"node":"Crear Avatar - D-ID","type":"main","index":0}],[{"node":"Wait - Voz","type":"main","index":0}]]},"Crear Avatar - D-ID":{"main":[[{"node":"Wait - Avatar","type":"main","index":0}]]},"Wait - Avatar":{"main":[[{"node":"Check Estado Avatar","type":"main","index":0}]]},"Check Estado Avatar":{"main":[[{"node":"Switch - Avatar Listo","type":"main","index":0}]]},"Switch - Avatar Listo":{"main":[[{"node":"Preparar Exportacion","type":"main","index":0}],[{"node":"Wait - Avatar","type":"main","index":0}]]},"Preparar Exportacion":{"main":[[{"node":"Descargar Video","type":"main","index":0}]]},"Descargar Video":{"main":[[{"node":"Subir a Google Drive","type":"main","index":0}]]},"Subir a Google Drive":{"main":[[{"node":"Log Airtable - Registro Final","type":"main","index":0}]]},"Error Handler":{"main":[[{"node":"Log Error Airtable","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null}