remaju-monitor/workflows/remaju-final.json
{
  "name": "REMAJU Monitor — Alertas Lima",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * *"
            }
          ]
        }
      },
      "id": "node-cron",
      "name": "CRON 6AM Lima",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "deltaMode", "value": "true" },
            { "name": "maxPages", "value": "50" }
          ]
        },
        "options": {}
      },
      "id": "node-scrape",
      "name": "POST /scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "node-wait",
      "name": "Esperar 5 min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [640, 300],
      "webhookId": "remaju-wait-001"
    },
    {
      "parameters": {
        "url": "=http://localhost:3001/results/{{ $json.run_id }}",
        "options": {}
      },
      "id": "node-results",
      "name": "GET /results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nif (data.status === 'running') {\n  return [{ json: { auctions: [], still_running: true, qualifying_count: 0 } }];\n}\n\nconst all = data.data || [];\n\nconst qualifying = all.filter(function(a) {\n  const dept = (a.location_department || '').toUpperCase();\n  const isLima = dept.includes('LIMA') || dept.includes('CALLAO');\n  const okPrice = a.price_usd && a.price_usd <= 90000;\n  return isLima && okPrice;\n});\n\nqualifying.sort(function(a, b) { return (a.price_usd || 0) - (b.price_usd || 0); });\n\nconst stats = {\n  pages_scraped: data.pagesScraped || 0,\n  duration_ms: data.durationMs || 0,\n  total_found: all.length,\n  qualifying_count: qualifying.length\n};\n\nreturn [{ json: { auctions: qualifying, stats: stats, still_running: false } }];"
      },
      "id": "node-filter",
      "name": "Filtrar Lima < $90k",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-results",
              "leftValue": "={{ $json.qualifying_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "¿Hay resultados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "jsCode": "const auctions = $json.auctions;\nconst stats = $json.stats || {};\nconst BOT_TOKEN = '8481244553:AAG1p0ExiDfLP1khxYzzRp-OLj5ik-MuH4s';\nconst CHAT_ID = '7727513100';\nconst API_URL = 'https://api.telegram.org/bot' + BOT_TOKEN + '/sendMessage';\n\nfunction esc(s) {\n  return String(s).replace(/[_*[\\]()~`>#+=|{}.!\\\\-]/g, '\\\\$&');\n}\n\nconst TIER_EMOJI = { super_ganga: String.fromCodePoint(0x1F534), muy_bueno: String.fromCodePoint(0x1F7E0), bueno: String.fromCodePoint(0x1F7E1), aceptable: String.fromCodePoint(0x1F7E2) };\nconst TYPE_EMOJI = { casa: String.fromCodePoint(0x1F3E0), departamento: String.fromCodePoint(0x1F3E2), terreno: String.fromCodePoint(0x1F33F), local: String.fromCodePoint(0x1F6EA), otro: String.fromCodePoint(0x1F3D7) };\nconst LINE = String.fromCodePoint(0x2501).repeat(22);\n\nasync function sendMsg(text, disablePreview) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: API_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        chat_id: CHAT_ID,\n        text: text,\n        parse_mode: 'MarkdownV2',\n        disable_web_page_preview: disablePreview !== false\n      })\n    });\n    return res;\n  } catch(e) {\n    // Fallback plain\n    const plain = text.replace(/[*_`\\[\\]()~>#+=|{}.!\\\\]/g, '');\n    return await this.helpers.httpRequest({\n      method: 'POST',\n      url: API_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ chat_id: CHAT_ID, text: plain, disable_web_page_preview: true })\n    });\n  }\n}\n\nconst results = [];\n\nif (auctions.length > 8) {\n  const tierCount = { super_ganga: 0, muy_bueno: 0, bueno: 0, aceptable: 0 };\n  auctions.forEach(function(a) { if (a.price_usd_tier && tierCount[a.price_usd_tier] !== undefined) tierCount[a.price_usd_tier]++; });\n\n  const date = new Date().toLocaleDateString('es-PE', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'America/Lima' });\n  const top3 = auctions.slice(0, 3);\n\n  const lines = [\n    String.fromCodePoint(0x1F4CA) + ' *RESUMEN DIARIO REMAJU*',\n    LINE,\n    esc(date),\n    '',\n    esc(auctions.length + ' nuevas propiedades < $90k USD'),\n    '',\n    tierCount.super_ganga ? esc(TIER_EMOJI.super_ganga + ' Super Ganga (< $40k): ' + tierCount.super_ganga) : null,\n    tierCount.muy_bueno   ? esc(TIER_EMOJI.muy_bueno   + ' Muy Bueno  ($40-60k): ' + tierCount.muy_bueno)   : null,\n    tierCount.bueno       ? esc(TIER_EMOJI.bueno       + ' Bueno      ($60-75k): ' + tierCount.bueno)       : null,\n    tierCount.aceptable   ? esc(TIER_EMOJI.aceptable   + ' Aceptable  ($75-90k): ' + tierCount.aceptable)   : null,\n    '',\n    '*' + String.fromCodePoint(0x1F3C6) + ' Top 3 m\\u00e1s econ\\u00f3micas:*',\n    top3.map(function(a, i) { return esc((i+1) + '. $' + Math.round(a.price_usd).toLocaleString('es-PE') + ' \\u2014 ' + (a.location_district || 'Lima')); }).join('\\n'),\n    '',\n    stats.pages_scraped ? esc('_P\\u00e1ginas: ' + stats.pages_scraped + ' | ' + Math.round((stats.duration_ms || 0) / 60000) + ' min_') : null\n  ].filter(function(l) { return l !== null; }).join('\\n');\n\n  const r = await sendMsg.call(this, lines, true);\n  results.push({ json: { sent: 1, type: 'digest', response: r } });\n\n} else {\n  for (let i = 0; i < auctions.length; i++) {\n    const a = auctions[i];\n    const tier = a.price_usd_tier || 'aceptable';\n    const emoji = TIER_EMOJI[tier] || TIER_EMOJI.aceptable;\n    const typeEmoji = TYPE_EMOJI[a.property_type] || TYPE_EMOJI.otro;\n    const tier_uc = tier.replace('_', ' ').toUpperCase();\n    const priceUsd = Math.round(a.price_usd);\n    const pricePen = a.currency_original === 'PEN' ? Math.round(a.price_original) : null;\n    const tc = a.exchange_rate ? parseFloat(a.exchange_rate).toFixed(2) : '3.72';\n    const district = a.location_district || a.location_department || 'Lima';\n    const tipo = (a.property_type || 'inmueble').charAt(0).toUpperCase() + (a.property_type || 'inmueble').slice(1);\n\n    let fase = '';\n    if (a.auction_phase) {\n      if (a.auction_phase.includes('SEGUNDA')) fase = '2da Conv \\u219315%';\n      else if (a.auction_phase.includes('TERCERA')) fase = '3ra Conv \\u219330%';\n      else fase = '1ra Conv';\n    }\n\n    let days = null;\n    if (a.auction_date) {\n      days = Math.ceil((new Date(a.auction_date) - new Date()) / 86400000);\n    }\n\n    const priceStr = (pricePen ? 'S/ ' + pricePen.toLocaleString('es-PE') + '  \\u2248  ' : '') + '$' + priceUsd.toLocaleString('es-PE') + ' USD';\n\n    const lines = [\n      emoji + ' *' + tier_uc + ' \\u2014 REMATE LIMA*',\n      LINE,\n      esc(String.fromCodePoint(0x1F4B0) + '  ' + priceStr),\n      esc(String.fromCodePoint(0x1F4B1) + '  TC: S/ ' + tc + ' x USD'),\n      esc(String.fromCodePoint(0x1F4CD) + '  ' + district + ', Lima'),\n      esc(typeEmoji + '  ' + tipo + (fase ? ' \\u00b7 ' + fase : '')),\n      a.area_m2 ? esc(String.fromCodePoint(0x1F4D0) + '  ' + a.area_m2 + ' m\\u00b2') : null,\n      a.auction_date ? esc(String.fromCodePoint(0x1F4C5) + '  Remate: ' + a.auction_date + (days !== null ? ' (' + days + ' d\\u00edas)' : '')) : null,\n      esc(String.fromCodePoint(0x1F4CB) + '  ' + (a.title || 'Remate REMAJU')),\n      '',\n      '[' + String.fromCodePoint(0x1F517) + ' Ver en REMAJU](https://remaju.pj.gob.pe/remaju/pages/publico/remateExterno.xhtml)'\n    ].filter(function(l) { return l !== null; }).join('\\n');\n\n    const r = await sendMsg.call(this, lines, false);\n    results.push({ json: { sent: 1, type: 'individual', index: i, response: r } });\n\n    // Rate limit: small delay between messages\n    await new Promise(function(resolve) { setTimeout(resolve, 500); });\n  }\n}\n\nreturn results.length ? results : [{ json: { sent: 0 } }];"
      },
      "id": "node-send",
      "name": "Enviar Alertas Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8481244553:AAG1p0ExiDfLP1khxYzzRp-OLj5ik-MuH4s/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\":\"7727513100\",\"text\":\"\\u2705 REMAJU Monitor \\u2014 Sin nuevas propiedades en Lima < $90k hoy.\"}",
        "options": {}
      },
      "id": "node-noresult",
      "name": "Sin Resultados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 420]
    }
  ],
  "connections": {
    "CRON 6AM Lima": {
      "main": [
        [{ "node": "POST /scrape", "type": "main", "index": 0 }]
      ]
    },
    "POST /scrape": {
      "main": [
        [{ "node": "Esperar 5 min", "type": "main", "index": 0 }]
      ]
    },
    "Esperar 5 min": {
      "main": [
        [{ "node": "GET /results", "type": "main", "index": 0 }]
      ]
    },
    "GET /results": {
      "main": [
        [{ "node": "Filtrar Lima < $90k", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar Lima < $90k": {
      "main": [
        [{ "node": "¿Hay resultados?", "type": "main", "index": 0 }]
      ]
    },
    "¿Hay resultados?": {
      "main": [
        [{ "node": "Enviar Alertas Telegram", "type": "main", "index": 0 }],
        [{ "node": "Sin Resultados", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "1"
}
